<div class="contact-area">

    {% if contact.getGroup() is not null %}
        <section data-toggle-popover="true"
                 data-content="                                 {# popover attr #}
                 <p style='display: flex;'>
                    <span style='font-weight: bold; '>
                        <span style='word-break: break-all;'>{{ contact.getGroup().getName() }}</span>
                    </span>
                </p>
                "
            class="contact-area-group round-wrapper contact-group-circle">
            <div class="fontawesome-centered">
                    <i class="{{ contact.getGroup().getIcon() }} fontawesome-holder" style="color: #{{ contact.getGroup().getColor() }};"></i>
            </div>
        </section>
    {% endif %}

    <section class="contact-card-actions">
        <div class="action"
             data-toggle-popover="true"                                {# popover attr #}
             data-content="{{ 'actions.popover.edit' | trans }}"       {# popover attr #}
             data-placement="top"                                      {# popover attr #}
             data-entity-id="{{ contact.getId() }}"
             data-repository-name="MyContactRepository"
             data-entity-modal-edit-action="true">
            <i class="fas fa-pen-square fa-sm"></i>
        </div>
        <div class="action"
             data-toggle-popover="true"                                {# popover attr #}
             data-content="{{ 'actions.popover.remove' | trans }}"     {# popover attr #}
             data-placement="top"                                      {# popover attr #}
             data-entity-id="{{ contact.getId() }}"
             data-repository-name="MyContactRepository"
             data-entity-removal-action="true">
            <i class="fas fa-times-circle fa-sm"></i>
        </div>
    </section>

    <div class="contact contact-card-border contact-card-no-padding w-100">
        <main class="contact-card-upper-block">
            <section>
                <div class="content" style="padding-bottom: 20px; background-color: #{{ contact.getNameBackgroundColor() }};">
                    <img src="{{ ( contact.getImagePath() is empty or contact.getImagePath() is null ? avatar_placeholder_image_pat : contact.getImagePath() ) }}" class="contact-image">
                    <aside>
                        <h1>{{ contact.getName() }}</h1>
                    </aside>
                </div>

                <div class="title active" style="background-color: #{{ contact.getDescriptionBackgroundColor() }};">
                    <p class="contact-description">{{ contact.getDescription() }}</p>
               </div>
            </section>

        </main>

        <nav class="active contact-cards-contacts-wrapper">

            {% for contact_type in contact.getContacts().getContactTypeDtos() %}

                <a>
                    <div class="icon contact-cards-contacts-wrapper-icon">
                        <img src="{{ contact_type.getIconPath()  }}" class="w-100"/>
                    </div>

                    <div class="content contact-cards-contacts-wrapper-content">
                        <h1 class="cursor-text">{{ contact_type.getName() | capitalize }}</h1>
                        <span class="cursor-text">{{ contact_type.getDetails() }}</span>
                    </div>
                </a>

            {% endfor %}

        </nav>
    </div>
</div>