{% set files_handler_service            = 'App\\Services\\Files\\FilesHandler' %}
{% set KEY_TARGET_MODULE_UPLOAD_DIR     = constant(files_handler_service~"::KEY_TARGET_MODULE_UPLOAD_DIR") %}
{% set KEY_TARGET_SUBDIRECTORY_NAME     = constant(files_handler_service~"::KEY_TARGET_SUBDIRECTORY_NAME") %}

{% set file_upload_controller           = 'App\\Controller\\Files\\FileUploadController' %}
{% set KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR = constant(file_upload_controller~"::KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR") %}

<p class="text-center">
    <i>{{ 'dialogs.filesTransfer.confirm' | trans }}</i>
</p>
<div>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form[KEY_TARGET_MODULE_UPLOAD_DIR], null, { 'label_attr': {'class': 'col-form-label col-sm-12 required'}} ) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form[KEY_TARGET_MODULE_UPLOAD_DIR]) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR], null, { 'label_attr': {'class': 'col-form-label col-sm-12 required'}} ) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR], {'id': 'move_single_file_target_subdirectory_path'}) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            {{ form_widget(form['submit'], {'attr': {'class': 'btn-primary btn float-right' }} ) }}
        </div>
    </div>

    <div data-transferred-files-json="{{ transferredFilesJson }}"></div>
</div>