<main class='main-content bgc-grey-100' id="MyIssuesPreview">
    <div id='mainContent'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    {# Main headers #}
                    <div class="bgc-white bd bdrs-3 p-10 mB-20">
                        <h4 class="c-grey-900 mB-20 text-center">{{ issueCardDto.getIssue().getName() }}</h4>
                        <h5 class="text-center small-header">{{ issueCardDto.getIssue().getInformation() }}</h5>
                    </div>

                    <div class="bgc-white bd bdrs-3 p-10 mB-20">
                        <div data-smart-tab="true">
                            <ul class="nav">
                                <li><a class="nav-link" href="#tab-1" id="tab-nav-1">{{ 'issues.card.preview.tabs.contacts.label' | trans }}</a></li>
                                <li><a class="nav-link" href="#tab-2" id="tab-nav-2">{{ 'issues.card.preview.tabs.progress.label' | trans }}</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane" role="tabpanel">

                                    {# Contact #}
                                    {% if issueCardDto.getIssue().getIssueContact() is not empty %}
                                        <div class="bgc-white bdrs-3 p-10 mB-20">

                                            <section class="p-20">

                                                <table id="MyIssueContact" class="table table-striped table-bordered" cellspacing="0"
                                                       data-table="true" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <td class="d-none">id</td>
                                                        <td></td>
                                                        <td class="d-none">{{ 'issues.contactsTable.icon' | trans }}</td>
                                                        <td>{{ 'issues.contactsTable.date' | trans }}</td>
                                                        <td>{{ 'issues.contactsTable.information' | trans }}</td>
                                                        <td>{{ 'issues.contactsTable.actions' | trans }}</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for issueContact in issueCardDto.getIssue().getIssueContact() %}
                                                        {% set date_timestamp = date( issueContact.getDate() | date('m/d/yyyy') ).timestamp %}

                                                        <tr class="trash-parent editable-parent save-parent" data-type="MyIssueContact">

                                                            <td class="d-none id">{{ issueContact.getId() }}</td>
                                                            <td class="icon-preview text-center" data-order="{{ issueContact.getIcon() }}"><i class="fontawesome-preview {{ issueContact.getIcon() }}" style="margin-left:6px;"></i></td>
                                                            <td class="icon fontawesome-input d-none" data-order="{{ issueContact.getIcon() }}">{{ issueContact.getIcon() }}</td>
                                                            <td data-order="{{ date_timestamp }}">
                                                <span class="date">

                                                    {% include 'page-elements/components/forms/datetime-picker.twig' with {
                                                        "value"     : issueContact.getDate()|date('Y-m-d') ,
                                                        "disabled"  : true
                                                    } %}
                                                </span>
                                                            </td>
                                                            <td class="information">{{ issueContact.getInformation() }}</td>

                                                            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                                                                "trash"       : true,
                                                                "edit"        : true,
                                                                "save"        : true,
                                                                "fontawesome" : true
                                                            } %}

                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>

                                            </section>
                                        </div>
                                    {% endif %}

                                </div>
                                <div id="tab-2" class="tab-pane" role="tabpanel">

                                    {# Progress #}
                                    {% if issueCardDto.getIssue().getIssueProgress() is not empty %}
                                        <div class="bgc-white bdrs-3 p-10 mB-20">
                                            <section class="p-20">

                                                <div id="accordion">
                                                    {% for issueProgress in issueCardDto.getIssue().getIssueProgress() %}
                                                        <div class="accordin-section save-parent" data-type="MyIssueProgress">

                                                            {% include 'modules/common/components/accordion/actions.twig' with {
                                                                headerText                    : issueProgress.getDate() | date("Y-m-d H:i:s"),
                                                                trash                         : true,
                                                                save                          : true,
                                                                editWithTinyMce               : true,
                                                                tinyMceSelector               : "#tiny-mce-selector-for-issue-progress-accordion" ~ loop.index0,
                                                                tinyMceInstanceSelector       : "tiny-mce-selector-for-issue-progress-accordion" ~ loop.index0,
                                                                remove_without_entity_handler : true,
                                                                trash_attr                    : '
                                                                    data-entity-id="' ~ issueProgress.getId()  ~ '"
                                                                    data-repository-name="MyIssueProgressRepository"
                                                                    data-entity-removal-action="true"'
                                                            }%}

                                                            <section class="justify-content-around">
                                                                <span class="id d-none">{{ issueProgress.getId() }}</span>
                                                                <div data-id="tiny-mce-wrapper" data-highlight-prism-code="true" id="tiny-mce-selector-for-issue-progress-accordion{{ loop.index0 }}">
                                                                    {{ issueProgress.getInformation() | raw }}
                                                                </div>
                                                            </section>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </section>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>