{% set file_tagger_service = 'App\\Services\\Files\\FileTagger' %}
{% set KEY_TAGS            = constant(file_tagger_service~"::KEY_TAGS") %}

<div
        {% if is_update_action is defined and is_update_action %}
            class="editable-parent save-parent" data-type="UpdateTags"
        {% endif %}
>
    {{ form_start(form, {
        'attr': {

        }
    }) }}

    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form[KEY_TAGS], null, { 'label_attr': {'class': 'col-form-label col-sm-12 required'}} ) }}
        </div>
        <div class="col-sm-6 tags-input-wrapper">
            {{ form_widget(form[KEY_TAGS],  {'attr': {"class": 'tags form-control'}}) }}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            {{ form_widget(form['submit'], {
                'attr': {
                    'class': 'btn-primary btn float-right' ~ (is_update_action is defined and is_update_action ? ' save-record' : "")
                },
                'type' : (is_update_action is defined and is_update_action ? 'button' : "submit")
            } ) }}
        </div>
    </div>

    <div data-tag-update-file-current-location="{{ ( file_current_location is defined ? file_current_location : '') }}"></div>

    {{ form_end(form) }}
</div>