<main class='main-content bgc-grey-100' id="MyIssue">
    <div id='mainContent'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="bgc-white bd bdrs-3 p-10 mB-20">
                        <h4 class="c-grey-900 mB-20 text-center">{{ 'dialogs.editIssue.header' | trans }}</h4>

                        <section class="p-20 update-record-form save-parent" data-type="MyIssue">

                            {{ form_start(issue_form, {'attr': {'data-entity': "MyIssue"}}) }}
                            <input class="d-none id" type="hidden" value="{{ id }}" disabled/>

                            <div class="row mT-10">
                                <div class="col-md-4">
                                    {{ form_label(issue_form['name']) }}
                                </div>
                                <div class="col-md-8 name">
                                    {{ form_widget(issue_form['name']) }}
                                </div>
                            </div>

                            <div class="row mT-10">
                                <div class="col-md-4">
                                    {{ form_label(issue_form['information']) }}
                                </div>
                                <div class="col-md-8 information">
                                    {{ form_widget(issue_form['information']) }}
                                </div>
                            </div>

                            <div class="row mT-10">
                                <div class="col-md-4">
                                    {{ form_label(issue_form['showOnDashboard']) }}
                                </div>
                                <div class="col-md-8 show-on-dashboard">
                                    {{ form_widget(issue_form['showOnDashboard']) }}
                                </div>
                            </div>

                            <div class="row mT-10 d-flex flex-row flex-nowrap justify-content-center save-record">
                                <div>
                                    {{ form_widget(issue_form['submit']) }}
                                </div>
                            </div>
                            {{ form_end(issue_form) }}
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>