<h4 class="c-grey-900 mB-20 text-center">{{ 'charts.headers.paymentsForTypesEachMonth' | trans }}</h4>

<section
        data-is-apex-chart="true"
        data-apex-chart-type="line"
        data-apex-chart-values="{{ chart_values|json_encode }}"
        data-apex-chart-x-axis-values="{{ chart_x_axis_values|json_encode }}"
        data-apex-chart-colors="{{ chart_colors|json_encode }}"
        data-apex-chart-y-axis-title="{{ 'charts.paymentsForTypesEachMonth.axis.titles.y' | trans }}"
        data-apex-chart-x-axis-title="{{ 'charts.paymentsForTypesEachMonth.axis.titles.x' | trans }}"
        class="d-flex justify-content-center"
        data-apex-chart-offset-grid-left="10"
>

</section>