{% set my_payments_bills_class = 'App\\Form\\Modules\\Payments\\MyPaymentsBills::' %}
{% set START_DATE       = constant(my_payments_bills_class ~ 'START_DATE' ) %}
{% set END_DATE         = constant(my_payments_bills_class ~ 'END_DATE' ) %}
{% set NAME             = constant(my_payments_bills_class ~ 'NAME' ) %}
{% set INFORMATION      = constant(my_payments_bills_class ~ 'INFORMATION' ) %}
{% set SUBMIT           = constant(my_payments_bills_class ~ 'SUBMIT' ) %}
{% set PLANNED_AMOUNT   = constant(my_payments_bills_class ~ 'PLANNED_AMOUNT' ) %}

<table id="MyPaymentsBills" class="table table-hover" cellspacing="0" width="100%" data-table="true">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.id' | trans }}</td>
        <td>{{ 'payments.bills.table.name' | trans }}</td>
        <td>{{ 'payments.bills.table.information' | trans }}</td>
        <td>{{ 'payments.bills.table.startDate' | trans }}</td>
        <td>{{ 'payments.bills.table.endDate' | trans }}</td>
        <td>{{ 'payments.bills.table.plannedAmount' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
            {% set start_date_timestamp = date( bill.startDate  | date('m/d/yyyy') ).timestamp %}
            {% set end_date_timestamp   = date( bill.endDate    | date('m/d/yyyy') ).timestamp %}

            <tr class="trash-parent bill-item-single-data editable-parent save-parent" data-type="MyPaymentsBills">

                <td class="d-none id">              {{ bill.id }}            </td>
                <td class="{{ NAME }}">             {{ bill.name }}          </td>
                <td class="{{ INFORMATION }}">      {{ bill.information}}    </td>

                <td class="{{ START_DATE }}" data-order="{{ start_date_timestamp }}">
                    <span class="{{ START_DATE }} ">
                            {% include 'page-elements/components/forms/input-datepicker.twig' with {
                                "value"     : bill.startDate | date('Y-m-d'),
                                "disabled"  : true
                            } %}
                    </span>
                </td>

                <td class="{{ END_DATE }}" data-order="{{ end_date_timestamp }}">
                    <span class="{{ END_DATE }} ">
                            {% include 'page-elements/components/forms/input-datepicker.twig' with {
                                "value"     : bill.endDate | date('Y-m-d'),
                                "disabled"  : true
                            } %}
                    </span>
                </td>

                <td class="{{ PLANNED_AMOUNT }}">   {{ bill.plannedAmount }} </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash": true,
                    "edit": true,
                    "save": true
                } %}

            </tr>

        {% endfor %}
    </tbody>
</table>
