{% if summarries is not empty %}
    <section class="summary-section d-flex justify-content-center">
        <div class="money-owed-summary">
            <ul>
                {% for summary in summarries %}
                    <li>
                        <b>
                            {% if  summary.summaryOwedByMe %}
                                {{ 'payments.moneyOwed.overallSummary.i' | trans }}
                            {% else %}
                                {{ summary.target }}
                            {% endif %}
                        </b>

                        {% if summary.summaryOwedByMe %}
                            {{ 'payments.moneyOwed.overallSummary.owe' | trans }}
                        {% else %}
                            {{ 'payments.moneyOwed.overallSummary.owesMe' | trans }}
                        {% endif %}

                        {% set is_currency_present = false %}
                        {% set currency_symbol     = '' %}

                        {% for currency_dto in currencies_dtos %}
                            {% if currency_dto.getName() == summary.currency %}
                                {% set is_currency_present = true %}
                                {% set currency_symbol = currency_dto.getSymbol() %}
                            {% endif %}
                        {% endfor %}

                        {% if not is_currency_present %}
                            {% set currency_symbol = ' ' ~ summary.currency %}
                        {% endif %}

                        <b>{{ summary.amount | abs ~ currency_symbol }}</b>

                        <i>
                            {% if summary.summaryOwedByMe %}
                                {{ 'payments.moneyOwed.overallSummary.to' | trans }}
                                {{ summary.target }}
                            {% endif %}
                        </i>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
