<table id="MyPaymentsProductTable_{{ type }}" class="table table-hover" cellspacing="0"
       width="100%"
       data-table="true">
    <thead>
    <tr class="bg-light">
        {% for column in column_names %}
            <td class="{{ hideIdColumn(column) }}">{{ column|capitalize }}</td>
        {% endfor %}
        <td>{{ 'payments.productsPrices.table.homeCurrency' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for product_data in products_all_data %}
        {% if isRowHiddenForProductType(type,product_data.rejected) == true %}
            <tr class="trash-parent product-single-data editable-parent save-parent" data-type="MyPaymentsProduct">
            {% for column in column_names %}

                {% if column == "price" %}

                    <td
                        class="{{ column }} {% if column=='price' %}{{ getClassForProductType(type,product_data.rejected,column) }}{% endif %} {{ hideIdColumn(column) }}"
                        data-order="{{ attribute(product_data,column) }}"
                    >
                        {% include 'page-elements/components/forms/input-standard-value.twig' with {
                            type     : "number",
                            value    : attribute(product_data,column),
                            disabled : true,
                            min      : 0.01,
                            step     : 0.01,
                            attrs    : "data-validate-form-element=true"
                        }%}
                    </td>

                {% elseif column == "rejected" %}
                    <td class="rejected">
                        {% include 'page-elements/components/forms/input-rounded-checkbox.twig' with {
                            "checked": ( attribute(product_data,column) ? "checked" : '' ),
                            "label"  : "",
                            "classes": "disabled checkbox-disabled"
                        } %}
                    </td>
                {% else %}
                    <td class="{{ column }} {{ hideIdColumn(column) }}">
                        {{ attribute(product_data,column) }}
                    </td>
                {% endif %}

            {% endfor %}
            <td class="text-info disabled" data-order="{{ calculateHomeProductPrice(product_data.price,currency_multiplier) }}">
                {{ calculateHomeProductPrice(product_data.price,currency_multiplier) }}
            </td>
            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                "trash": true,
                "edit": true,
                "save": true
            } %}

        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
