{% set my_recurring_payments_class = 'App\\Form\\Modules\\Payments\\MyRecurringPaymentsMonthlyType::' %}
{% set KEY_DAY_OF_MONTH  = constant(my_recurring_payments_class ~ 'KEY_DAY_OF_MONTH' ) %}
{% set KEY_MONEY         = constant(my_recurring_payments_class ~ 'KEY_MONEY' ) %}
{% set KEY_DESCRIPTION   = constant(my_recurring_payments_class ~ 'KEY_DESCRIPTION' ) %}
{% set KEY_TYPE          = constant(my_recurring_payments_class ~ 'KEY_TYPE' ) %}
{% set KEY_SUBMIT        = constant(my_recurring_payments_class ~ 'KEY_SUBMIT' ) %}

<div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
    <table id="MyRecurringPaymentsMonthly" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
        <thead>
        <tr>
            <td class="d-none">{{ 'datatables.table.id' | trans }}</td>
            <td>{{ 'payments.settings.recurring.table.dayOfMonth' | trans }}</td>
            <td>{{ 'payments.settings.recurring.table.money' | trans }}</td>
            <td>{{ 'payments.settings.recurring.table.description' | trans }}</td>
            <td>{{ 'payments.settings.recurring.table.type' | trans }}</td>
            <td>{{ 'datatables.table.actions' | trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for recurring_payment in recurring_payments %}
            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MyRecurringPaymentsMonthly">

                <td class="d-none id">  {{ recurring_payment.id }} </td>
                <td class="{{ KEY_DAY_OF_MONTH }}">
                    {% include 'page-elements/components/forms/input-standard-value.twig' with {
                        type     : "number",
                        value    : recurring_payment.dayOfMonth,
                        disabled : true,
                        attrs    : "data-validate-form-element=true",
                        min      : constant('App\\Entity\\Modules\\Payments\\MyRecurringPaymentMonthly::MIN_DAY_OF_MONTH'),
                        max      : constant('App\\Entity\\Modules\\Payments\\MyRecurringPaymentMonthly::MAX_DAY_OF_MONTH'),
                    }%}
                </td>
                <td class="{{ KEY_MONEY }}">        {{ recurring_payment.money}}          </td>
                <td class="{{ KEY_DESCRIPTION }}">  {{ recurring_payment.description}}    </td>

                <td class="parent-td">
                    <select class="form-control disabled {{ KEY_TYPE }} option-picker">
                        <option value=""></option>
                        {% for payment_type in payments_types  %}
                            <option value="{{ payment_type.id }}"
                                    {% if payment_type.id  == recurring_payment.type.id %}selected{% endif %}>
                                {{ payment_type.value | capitalize }}
                            </option>
                        {% endfor %}
                    </select>
                </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash": true,
                    "edit": true,
                    "save": true
                } %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-md-6 align-self-center add-record-form">
        {{ form_start(form,{'attr':{'data-entity':"MyRecurringPaymentsMonthly"}}) }}
        {{ form_end(form) }}
    </div>

</div>