{% set currUrl = path(app.request.attributes.get('_route'),
  app.request.attributes.get('_route_params')) %}
{% set getAttrs = app.request.attributes.get('_route_params') %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title>
    {% block title %}{{ 'page.titleShort' | trans }}
      {% if
            page_title is defined
        and page_title is not empty
      %}
        - {{ page_title }}
      {% endif %}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/base-template.css') }}" />
  <link rel="icon" href="logo.svg" sizes="any" type="image/svg+xml">

  <script>
    window["TWIG_GET_ATTRS"]   = '{{ getAttrs | json_encode | raw }}';
    window["TWIG_ROUTE"]       = '{{ app.request.attributes.get('_route') }}';
    window["TWIG_REQUEST_URI"] = '{{ app.request.requestUri }}';
  </script>
</head>
<body class="app">
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

{% block content %}{% endblock content %}
<script src="{{ asset('assets/app.js') }}"></script>
{% include 'page-elements/components/messages/messages.twig' %}

</body>
</html>
