{% set notifications_twig_class     = '\\App\\Twig\\Core\\Notifications::' %}
{% set KEY_SCHEDULES_COUNT          = constant(notifications_twig_class ~ 'KEY_SCHEDULES_COUNT') %}
{% set KEY_SCHEDULES                = constant(notifications_twig_class ~ 'KEY_SCHEDULES') %}

{% set my_schedule_repository_class = '\\App\\Repository\\Modules\\Schedules\\MyScheduleRepository::' %}
{% set KEY_NAME          = constant(my_schedule_repository_class ~ 'KEY_NAME') %}
{% set KEY_ICON          = constant(my_schedule_repository_class ~ 'KEY_ICON') %}
{% set KEY_DATE          = constant(my_schedule_repository_class ~ 'KEY_DATE') %}
{% set KEY_DAYS_DIFF     = constant(my_schedule_repository_class ~ 'KEY_DAYS_DIFF') %}
{% set KEY_SCHEDULE_TYPE = constant(my_schedule_repository_class ~ 'KEY_SCHEDULE_TYPE') %}

{% set data             = getSchedulesForNotifications(60) %}
{% set schedules_count  = data[KEY_SCHEDULES_COUNT] %}
{% set schedules        = data[KEY_SCHEDULES] %}

<li class="notifications dropdown">
    {% if 0 != schedules_count %}
        <span class="counter bgc-red">{{ schedules_count }}</span>
    {% endif %}
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-bell"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">

                {% for schedule in schedules %}
                    {% set icon_classes           = getClassesForSchedulesNotifications(schedule[KEY_DAYS_DIFF]) %}
                    {% set schedule_in_past_style =  ( schedule[KEY_DAYS_DIFF] < 0 ? "color:red !important;" : "") %}

                    <li>
                        <a href="#" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                            <div class="peer mR-15">
                                <i class="{{ schedule[KEY_ICON] }} {{ icon_classes }}"></i>
                            </div>
                            <div class="peer peer-greed">
                                <span style="{{ schedule_in_past_style }}">
                                      <span class="fw-500">{{ schedule[KEY_NAME] }}</span>
                                      <span class="c-grey-600" style="{{ schedule_in_past_style }}">
                                          in <span class="text-dark" style="{{ schedule_in_past_style }}">{{ schedule[KEY_DAYS_DIFF] }}</span> day/s
                                      </span>
                                </span>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </li>
{#        <li class="pX-20 pY-15 ta-c bdT">#}
{#            <span>#}
{#              <a href="" class="c-grey-600 cH-blue fsz-sm td-n">#}
{#                  View All Notifications #}
{#                  <i class="ti-angle-right fsz-xs mL-10"></i></a>#}
{#            </span>#}
{#        </li>#}
    </ul>
</li>