{% set notifications_twig_class     = '\\App\\Twig\\Core\\Notifications::' %}
{% set KEY_SCHEDULES_COUNT          = constant(notifications_twig_class ~ 'KEY_SCHEDULES_COUNT') %}
{% set KEY_SCHEDULES                = constant(notifications_twig_class ~ 'KEY_SCHEDULES') %}

{% set my_schedule_repository_class = '\\App\\Repository\\Modules\\Schedules\\MyScheduleRepository::' %}
{% set data             = getSchedulesForNotifications(60) %}
{% set schedules_count  = data[KEY_SCHEDULES_COUNT] %}
{% set schedules        = data[KEY_SCHEDULES] %}

<li class="notifications dropdown"
{% include 'page-elements/components/guide-popup.twig' with {
    popoverAlignment: "left",
    popoverContent  : 'guide.system.notifications.description' | trans
}%}
>
    {% if 0 != schedules_count %}
        <span class="counter bgc-red">{{ schedules_count }}</span>
    {% endif %}
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-bell"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-10 pY-15 bdB d-flex justify-content-center">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">{{ 'topbarComponent.notifications.smallHeader' | trans }}</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm notifications-bell-list">

                {% for incomingScheduleDto in schedules %}
                    {% set icon_classes           = getClassesForSchedulesNotifications(incomingScheduleDto.daysDiff) %}
                    {% set schedule_in_past_style = (incomingScheduleDto.daysDiff < 0 ? "color:red !important;" : "") %}

                    <li>
                        <a href="#" class='peers fxw-nw td-n p-10 bdB c-grey-800 cH-blue bgcH-grey-100'>
                            <div class="peer mR-15">
                                <i class="{{ incomingScheduleDto.icon }} {{ icon_classes }}"></i>
                            </div>
                            <div class="peer peer-greed">
                                <span style="{{ schedule_in_past_style }}">
                                      <span class="fw-500">{{ incomingScheduleDto.title }}</span>
                                      <span class="c-grey-600" style="{{ schedule_in_past_style }}">
                                          {{ 'topbarComponent.notifications.inDays.in' | trans}}
                                            <span class="text-dark" style="{{ schedule_in_past_style }}">{{ incomingScheduleDto.daysDiff }}</span>
                                          {{ 'topbarComponent.notifications.inDays.days' | trans }}
                                      </span>
                                </span>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</li>