{% set settings_widget_visibility_dto = 'App\\DTO\\Settings\\Dashboard\\Widget\\SettingsWidgetVisibilityDTO::' %}
{% set KEY_NAME         = constant(settings_widget_visibility_dto ~ 'KEY_NAME' ) %}
{% set KEY_IS_VISIBLE   = constant(settings_widget_visibility_dto ~ 'KEY_IS_VISIBLE' ) %}

<div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
    <h5 class="c-grey-900 mB-20 align-self-center">{{ 'settings.dashboard.widgets.visibility.label' | trans }} </h5>

    <table id="settingsDashboardWidgetsVisibility" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
        <thead>
        <tr>
            <td class="d-none"></td>
            <td>    {{ 'settings.dashboard.widgets.visibility.table.labels.name' | trans }}              </td>
            <td>    {{ 'settings.dashboard.widgets.visibility.table.labels.displayWidget' | trans }}     </td>
        </tr>
        </thead>
        <tbody>
            {% for widget_name, widget_translation in widgets_names %}
                <tr class="editable-parent save-parent" data-type="settingsDashboardWidgetsVisibility">

                    <td class="widget-name d-none">
                        {{ widget_name }}
                    </td>

                {% set is_visible = false %}

                    {% for widget_visibility_setting in widgets_visibility_settings %}
                        {% if widget_visibility_setting.name == widget_name and  widget_visibility_setting.isVisible() %}
                            {% set is_visible = true %}
                        {% endif %}
                    {% endfor %}

                    <td>
                        {{ widget_translation }}
                    </td>
                    <td class="is-checked">
                        {% include 'page-elements/components/forms/toggle-button.twig' with {
                            "value"     : is_visible,
                            "yes_no"    : true,
                            "classes"   : "fa-save save-record"
                        }%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>