{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

{% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100' id="noteCategory">
        <div id='mainContent'>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-10 mB-20 note-category-content-wrapper">
                            <h4 class="c-grey-900 mB-20 text-center">{{ category | capitalize }}</h4>

                            <section class="all-notes">
                                {% for note in notes %}

                                    {% set lock_record = note.id %}
                                    {% set lock_type   = constant('App\\Entity\\System\\LockedResource::TYPE_ENTITY') %}
                                    {% set lock_target = constant('App\\Controller\\Modules\\ModulesController::MODULE_NAME_NOTES') %}

                                    {% if isAllowedToSeeResource(lock_record, lock_type, lock_target) %}
                                        <section class="single-note-details d-flex save-parent">

                                        <span class="fas fa-lock {{ getClassForLockedResource(lock_record, lock_type, lock_target) }} align-self-center action-lock-record"
                                              data-lock-resource-record ="{{ lock_record }}"
                                              data-lock-resource-type   ="{{ lock_type }}"
                                              data-lock-resource-target ="{{ lock_target }}"
                                              data-toggle-popover="true"                                      {# popover attr #}
                                              data-content="{{ 'actions.popover.lockRecord' | trans }}"       {# popover attr #}
                                              data-placement="top"                                            {# popover attr #}
                                        ></span>

                                            <button type="button" class="btn btn-primary note-button" data-toggle="modal"
                                                    data-target="#note{{ note.id }}"
                                                    id="noteListElement{{ note.id }}"
                                            >
                                            <span>
                                                {{ note.title }}
                                            </span>
                                            </button>

                                            {% include 'modules/my-notes/components/note-edit-modal.html.twig' %}
                                        </section>
                                    {% endif %}
                                {% endfor %}
                            </section>

                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-wrapper">
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName'     : "add-note",
                    'id'             : "add-note",
                    'popoverContent' : 'notes.category.popover.createNote' | trans
                } %}
            </div>

        </div>
    </main>
{% endblock body %}
