{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

{% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-10 mB-20" style="min-height: 160px;">
                            <h4 class="c-grey-900 mB-20 text-center">{{ category | capitalize }}</h4>

                            <section class="all-notes">
                                {% for note in notes %}

                                    {% set lock_record = note.id %}
                                    {% set lock_type   = constant('App\\Entity\\System\\LockedResource::TYPE_ENTITY') %}
                                    {% set lock_target = constant('App\\Controller\\Modules\\ModulesController::MODULE_NAME_NOTES') %}

                                    {% if isAllowedToSeeResource(lock_record, lock_type, lock_target) %}
                                        <section class="single-note-details d-flex save-parent">

                                        <span class="fas fa-lock {{ getClassForLockedResource(lock_record, lock_type, lock_target) }} align-self-center action-lock-record"
                                              data-lock-resource-record ="{{ lock_record }}"
                                              data-lock-resource-type   ="{{ lock_type }}"
                                              data-lock-resource-target ="{{ lock_target }}"
                                        ></span>

                                            <button type="button" class="btn btn-primary note-button" data-toggle="modal"
                                                    data-target="#note{{ note.id }}">
                                            <span>
                                                {{ note.title }}
                                            </span>
                                            </button>

                                            {% include 'modules/my-notes/components/note-edit-modal.html.twig' %}
                                        </section>
                                    {% endif %}
                                {% endfor %}
                            </section>

                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-wrapper">
                <script src="/assets_/static-scripts/modules/my-notes-category.js"></script>
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName': "add-note",
                    'settings':{
                        "type": 'template',
                        "url": '/dialog/body/create-note/' ~ getAttrs.category ~ '/' ~ getAttrs.category_id,
                        'callFunctions': '
                            tinymce.remove(".tiny-mce");
                            tinymce.custom.init();
                            ui.crud.attachRecordAddViaAjaxOnSubmit(true);
                            myNotesCategory.selectCurrentCategoryOptionForQuickNoteCreator();
                        ',
                        'subtype':'add-note'
                    }
                } %}
            </div>

        </div>
    </main>
{% endblock body %}
