{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                {# DataTable#}

                <div class="row">
                    <div class="col-md-12">

                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">Rename folder</h4>

                            {{ form_start(rename_form) }}
                            {{ form_end(rename_form) }}
                        </div>


                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">Remove folder</h4>

                            {{ form_start(remove_form) }}
                            {{ form_end(remove_form) }}
                        </div>

                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">Move folder data</h4>
                            {{ form_start(move_data_form) }}
                            {{ form_end(move_data_form) }}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
