{% block datalist_widget %}

    <input list="{{ id }}DatalistType"
            {{ block('widget_attributes') }}
           autocomplete="off"
           class="form-control"
        {% if value in choices %}
            value="{{ value }}"
        {% endif %}
    >
    <datalist id="{{ id }}DatalistType">
        {% for choice in choices %}

            {% if choice is iterable %}
                <option value="Grouped options are not supported by this type!"></option>
            {% else %}
            {# By default I assume that each value is unique! #}
                <option
                        value="{{ choice }}"
                    {% if choice == value %}
                        selected
                    {% endif %}
                ></option>
            {% endif %}

        {% endfor %}
    </datalist>
{% endblock %}