<table id="MyNotesCategories" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.id' | trans }}</td>
        <td>{{ 'notes.category.table.category' | trans }}</td>
        <td>{{ 'notes.category.table.icon' | trans }}</td>
        <td style="width: 50px;">{{ 'notes.category.table.color' | trans }}</td>
        <td>{{ 'notes.category.table.parent' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>

        {% for category in categories %}

            {% set lock_record = category.id %}
            {% set lock_type   = constant('App\\Entity\\System\\LockedResource::TYPE_ENTITY') %}
            {% set lock_target = constant('App\\Controller\\Modules\\ModulesController::MODULE_ENTITY_NOTES_CATEGORY') %}

            {% if isAllowedToSeeResource(lock_record, lock_type, lock_target) %}

                <tr class="trash-parent editable-parent save-parent" data-type="MyNotesCategories">
                <td class="d-none id">{{ category.id }}</td>
                <td class="name"> {{ category.name }}</td>
                <td class="icon fontawesome-input"> {{ category.icon }}</td>
                <td class="color position-relative"> {#todo: make a button from this as twig template#}
                    {% include 'page-elements/libs/js-color-button.html.twig' with {
                        color        : category.color,
                        pickerNumber : loop.index0
                    } %}
                </td>

                <td class="parent-td">
                    <select class="form-control disabled parent option-picker selectpicker">
                        <option value=""></option>
                        {% for parent_children_dto in parents_children_dtos %}
                            {% include 'page-elements/components/forms/option-with-indents-for-parent-children-dto.twig' with {"parentChildrenDto": parent_children_dto, "selectedId": category.getParentId()} %}
                        {% endfor %}
                    </select>
                </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash"       : true,
                    "edit"        : true,
                    "save"        : true,
                    "fontawesome" : true,
                    "lock_record" : lock_record,
                    "lock_type"   : lock_type,
                    "lock_target" : lock_target,
                } %}

            </tr>

        {% endif %}
    {% endfor %}
    </tbody>
</table>
