{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'settings.label' | trans }}</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h5 class="c-grey-900 mB-20 align-self-center">{{ 'settings.dashboard.label' | trans }}</h5>
                            {{ dashboard_settings_view | raw }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h5 class="c-grey-900 mB-20 align-self-center">{{ 'settings.finances.label' | trans }}</h5>
                            {{ finances_settings_view | raw }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
