{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'settings.infoBlock.text.mainDescription',
                    header_translation_string : 'settings.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-10 mB-20">

                             <div data-smart-tab="true">
                                <ul class="nav">
                                   <li><a class="nav-link" href="#tab-1" id="tab-nav-1">
                                       {{ 'settings.tab.dashboard.label' | trans }}
                                   </a></li>
                                   <li><a class="nav-link" href="#tab-2" id="tab-nav-2">
                                       {{ 'settings.tab.finances.label' | trans }}
                                   </a></li>
                                    {% if not isSystemLocked() %}
                                        <li><a class="nav-link" href="#tab-3" id="tab-nav-2">
                                            {{ 'settings.tab.modules.label' | trans }}
                                        </a></li>
                                    {% endif %}
                                </ul>

                                <div class="tab-content">
                                   <div id="tab-1" class="tab-pane" role="tabpanel">
                                       <div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
                                           {{ dashboard_settings_view | raw }}
                                       </div>
                                   </div>
                                   <div id="tab-2" class="tab-pane" role="tabpanel">
                                       <div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
                                           {{ finances_settings_view | raw }}
                                       </div>
                                   </div>

                                    {% if not isSystemLocked() %}
                                        <div id="tab-3" class="tab-pane" role="tabpanel">
                                            <div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
                                                {{ modules_settings_view | raw }}
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>

                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
