<table id="MySchedules" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.idHash' | trans }}</td>
        <td>{{ 'schedules.table.name' | trans }}</td>
        <td>{{ 'schedules.table.date' | trans }}</td>
        <td>{{ 'schedules.table.information' | trans }}</td>
        <td>{{ 'schedules.table.scheduleType' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for schedule in schedules %}

        {% set schedule_timestamp = date( schedule.date | date('m/d/yyyy') ).timestamp %}
        {% set row_classes        = getClassesForSchedulesTable(schedule.date) %}

        <tr class="trash-parent car-single-data editable-parent save-parent {{ row_classes }}" data-type="MySchedules">

            <td class="id d-none">{{ schedule.id }}</td>
            <td class="name" >{{ schedule.name }}</td>

            <td data-order="{{ schedule_timestamp }}"
            >
                <span class="date">
                    {% if schedule.isDateBased() %}
                        {% include 'page-elements/components/forms/input-datepicker.twig' with {
                            "value"     : schedule.date|date("Y-m-d"),
                            "disabled"  : true
                        } %}
                    {% endif %}
                </span>
            </td>

            <td class="id">{{ schedule.information }}</td>

            <td class="parent-td">

                <select class="form-control disabled type option-picker">
                    <option value=""></option>
                    {% for schedule_type in schedules_types %}
                        <option value="{{ schedule_type.id }}"
                                {% if  schedule.scheduleType is not null and schedule_type.id == schedule.scheduleType.id %}selected{% endif %}
                        >
                            {{ schedule_type.name | capitalize }}
                        </option>
                    {% endfor %}
                </select>
            </td>

            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                "trash": true,
                "edit": true,
                "save": true
            } %}

        </tr>
    {% endfor %}
    </tbody>
</table>

{# todo: labels change #}
<h5>{{ 'car.legend.label' | trans }}</h5>
<button class="btn btn-sm disabled color-legend-button" style="background-color:green;">{{ 'car.legend.over30' | trans }}</button>
<button class="btn btn-sm disabled color-legend-button" style="background-color:orange;">{{ 'car.legend.over14' | trans }}</button>
<button class="btn btn-sm disabled color-legend-button" style="background-color:red;">{{ 'car.legend.14' | trans }}</button>
