<div>

    {% include 'page-elements/components/datatable/filters.twig' with {
        "filtersData" : [
            {
                "data"         : data,
                "isDataObject" : true,
                "key"          : 'target'
            },
        ],
        "targetTableSelector" : ("#" ~ tableId),
        "addEmptyOption"      : true
    }%}
    <br>

    <table id="{{ tableId }}" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td>{{ 'payments.moneyOwed.table.target' | trans }}</td>
            <td>{{ 'payments.moneyOwed.table.amount' | trans }}</td>
            <td>{{ 'payments.moneyOwed.table.information' | trans }}</td>
            <td>{{ 'payments.moneyOwed.table.date' | trans }}</td>
            <td>{{ 'payments.moneyOwed.table.currency' | trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}

            {% set timestamp = date( row.date | date('m/d/yyyy') ).timestamp %}

            <tr>
                <td> {{ row.target }}                                           </td>
                <td> {{ row.amount }}                                           </td>
                <td> {{ row.information }}                                      </td>
                <td data-order="{{ timestamp }}"> {{ row.date|date("Y-m-d") }}  </td>
                <td>
                    <div class="currency">
                        {% include 'page-elements/components/forms/currency-input.twig' with {
                            "currency": row.currency
                        }%}
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>