{% set currUrl = path(app.request.attributes.get('_route'),
  app.request.attributes.get('_route_params')) %}
{% set getAttrs = app.request.attributes.get('_route_params') %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title>{{ 'login.pageTitle' | trans }}</title>
  <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
    }
  </style>

  <script>
    var TWIG_GET_ATTRS      = '{{ getAttrs | json_encode | raw }}';
    var TWIG_ROUTE          = '{{ app.request.attributes.get('_route') }}';
    var TWIG_REQUEST_URI    = '{{ app.request.requestUri }}';
  </script>
</head>
<body class="app">
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

{% block fos_user_content %}{% endblock fos_user_content %}

</body>
<script src="{{ asset('assets/app.js') }}"></script>
</html>
