{#
    Info: this component is used for standrad page and dialog - both share the same view but a bit different logic
    so instead of duplicating logic I just reuse the main body template for all use cases
#}

{% set file_upload_controller   = 'App\\Controller\\Files\\FileUploadController' %}
{% set KEY_UPLOAD_MODULE_DIR    = constant(file_upload_controller~"::KEY_UPLOAD_MODULE_DIR") %}

<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="container-fluid">
            {# Forms #}
            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                        <h4 class="c-grey-900 mB-20 align-self-center">{{ 'upload.headers.uploadFiles' | trans }}</h4>

                        {% if isDemo() %}
                            <p class="text-center">
                                <i>
                                    {{ 'upload.demoText' | trans | raw }}
                                </i>
                            </p>
                        {% endif %}

                        <div class="col-md-12 file-upload-form">
                            {{ form_start(form, {
                                'attr': {
                                    'class': 'flex-column d-flex',
                                    'data-form-target':"Upload",
                                    "action" : path('upload_send'),
                                    'onkeydown': "return event.key != 'Enter';"
                                }}) }}

                                <div class="col-md-6 justify-content-center align-self-center">

                                    {{ form_widget(form[KEY_UPLOAD_MODULE_DIR], {'attr': {'class': 'form-control upload-type listFilterer'}}) }}

                                    <section class="file-picker-and-folder-picker d-flex">
                                        <section id="file-upload-file-select"
                                                 class=" btn btn-sm btn-primary d-flex"
                                                 style="width:50px; height:50px; padding: 0; "
                                        >
                                            {{ form_widget(form.file) }}

                                        </section>
                                        {{ form_widget(form.resetSelectedFiles) }}
                                        {{ form_widget(form.subdirectory) }}
                                    </section>

                                    <section class="button-submit col-md-4">
                                        {{ form_widget(form.submit) }}
                                    </section>


                                </div>
                                {# table #}
                                <div class="row mT-50">
                                    <div class="col-md-12">
                                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                                            {% include 'core/upload/components/upload-table.twig' %}
                                        </div>
                                    </div>
                                </div>

                            <section class="d-flex flex-column justify-content-center">
                                {# Stats #}

                                <p id="currentFileSizeWrapper" class="text-success align-self-center m-0">
                                    {{ 'upload.securityTexts.currentFileSize' | trans }}
                                    <span class="selected-files-size">0</span>
                                    {{ 'upload.mb' | trans }}
                                </p>

                                <p id="maxUploadSizeWrapper" data-max-upload-size="{{ max_upload_size_mb }}" class="align-self-center m-0">
                                    {{ 'upload.securityTexts.maxUploadSize' | trans }}
                                    {{ max_upload_size_mb }}
                                    {{ 'upload.mb' | trans }}
                                </p>

                                <p id="currentUploadedFilesCount" class="text-success align-self-center m-0">
                                    {{ 'upload.securityTexts.currentUploadedFilesCount' | trans }}
                                    <span class="selected-files-count">0</span>
                                </p>

                                <p id="maxAllowedFilesUploadCount"
                                       data-max-allowed-files-count="{{ max_allowed_files_count }}"
                                       class="text-success align-self-center m-0">
                                    {{ 'upload.securityTexts.maxAllowedFilesUploadCount' | trans }}
                                    {{ max_allowed_files_count }}
                                </p>

                                <p class="align-self-center m-0">
                                    <ul id="selectedFilesList">

                                    </ul>
                                </p>

                            </section>

                            {{ form_end(form) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
