<!-- Modal -->

{% set currently_selected_option_mark = "<span class='text-success'>✓</span>" %}

<div class="modal fade bd-example-modal-lg modal-moved-backdrop todo-modal my-todo-modal-main-wrapper" id="todo{{ todo.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-id="{{ todo.id }}">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title todo-title" id="exampleModalLongTitle">{{ todo.name | capitalize }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {% include 'modules/my-todo/components/modal-body.html.twig' with {
                    todo: todo
                } %}
            </div>
            <div class="modal-footer modal-todo-details-buttons d-flex justify-content-around">

                {# Left side #}
                <div class="d-flex justify-content-end modal-todo-details-buttons">
                    {# Toggle dashboard #}
                    {% if
                            todo.module is not null
                        and constant("App\\Controller\\Modules\\ModulesController::MODULE_NAME_GOALS") == todo.module.name
                    %}
                        <div type="button" class="d-flex flex-column p-4 justify-content-center text-center my-todo-modal-toggle-dashboard-button">
                        <span class="action pointer mr-1 align-self-center m-0"
                              data-entity-id="{{ todo.getId() }}"
                              data-entity-toggle-boolval="true"
                              data-entity-toggle-success-message="{{ 'todo.list.ajaxCallMessages.dashboardVisibilityHasBeenToggled' | trans }}"
                              data-entity-repository-name="{{ constant('App\\Controller\\Core\\Repositories::MY_TODO_REPOSITORY') }}"
                              data-entity-field-name="{{ constant('App\\Entity\\Modules\\Todo\\MyTodo::FIELD_DISPLAY_ON_DASHBOARD') }}"
                              data-toggle-popover="true"                     {# popover attr #}
                              data-content="                                 {# popover attr #}
                                {{ 'issues.card.popovers.toggleDashboardVisibility' | trans }}
                              "
                        >
                            <i class="fas fa-home fa-lg"></i>
                        </span>
                            <span class="text-center align-self-center">
                            <i class="fas fa-dot-circle fa-sm {{ todo.getDisplayOnDashboard() ? 'text-success' : "text-danger" }}"></i>
                        </span>
                        </div>
                    {% endif %}
                </div>

                {# Right side #}
                <div class="d-flex justify-content-end modal-todo-details-buttons">
                    <select class="form-control selectpicker module-entity-select"
                            data-append-classes-to-bootstrap-select-parent = 'align-self-center'
                            data-append-classes-to-bootstrap-select-button = 'm-0'
                            data-live-search="true"
                            disabled
                    >
                        <option value=""
                            {% if todo.module is null %}
                                selected
                            {% endif %}
                        ></option>
                        {% for module in all_modules %}
                            {% if module.name not in all_relatable_entities_data_dtos_for_modules|keys %}
                                <option
                                        value="{{ module.name }}"

                                        {% set shown_text = module.name %}
                                        {% if
                                                todo.module is not null
                                            and constant("App\\Controller\\Modules\\ModulesController::MODULE_NAME_GOALS") == todo.module.name
                                        %}
                                            selected
                                            {% set bootstrap_select_shown_text = shown_text ~ currently_selected_option_mark %}
                                            data-content="{{ bootstrap_select_shown_text }}"
                                        {% endif %}

                                > {{ shown_text }} </option>
                            {% else %}
                                <optgroup label="{{ module.name }}" data-module-name="{{ module.name }}">
                                    {% for entity_data_dto in all_relatable_entities_data_dtos_for_modules[module.name] %}
                                        <option
                                                value="{{ entity_data_dto.getId() }}"

                                                {% if
                                                        constant("App\\Controller\\Modules\\ModulesController::MODULE_NAME_ISSUES") == module.name
                                                    and todo.module     is not null
                                                    and todo.myIssue    is not null
                                                    and module.name     == todo.module.name
                                                    and todo.myIssue.id == entity_data_dto.getId()
                                                %}
                                                    selected
                                                    data-default-selected
                                                    {% set shown_text                  = entity_data_dto.getName() %}
                                                    {% set bootstrap_select_shown_text = shown_text ~ currently_selected_option_mark %}
                                                {% else %}
                                                    {% set shown_text                  = entity_data_dto.getName() %}
                                                    {% set bootstrap_select_shown_text = shown_text %}
                                                    {% if not entity_data_dto.isActive() %}
                                                        disabled
                                                    {% endif %}
                                                {% endif %}

                                                data-content="{{ bootstrap_select_shown_text }}"

                                        > {{ shown_text }} </option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <button type="button" class="btn btn-warning edit-todo"
                            data-id="{{ todo.id }}"
                    > {{ 'buttons.edit' | trans }} </button>

                    <button type="button" class="btn btn-primary save-todo"
                            data-id="{{ todo.id }}">
                        {{ 'buttons.save' | trans }} </button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {{ 'buttons.close' | trans }} </button>

                    <button type="button" class="btn btn-danger"
                            data-id="{{ todo.id }}"
                            data-entity-id="{{ todo.id }}"
                            data-entity-removal-action="true"
                            data-repository-name="MyTodoRepository"
                    > {{ 'buttons.delete' | trans }} </button>

                </div>

            </div>
        </div>
    </div>
</div>