{% set modules_controller = "App\\Controller\\Modules\\ModulesController::" %}
{% set MODULE_NAME_ISSUES = constant(modules_controller ~ "MODULE_NAME_ISSUES") %}
<div class="row gap-10 masonry pos-r">
    <!-- ### todo container ### !-->
    <div class="masonry-item col-md-12 todo-container">
        <div class="bgc-white p-20 bd">
            {% if module_name is defined %}
                <h4 class="c-grey-900 mB-20 text-center">{{ module_name }}</h4>
            {% endif %}
            <section class="d-flex justify-content-around todo-wrapper flex-wrap">
                {% for todo in all_todo %}

                    {% set use_popover_description = true %}
                    {% if   todo.description is null
                        and todo.myIssue     is null
                    %}
                        {% set use_popover_description = false %}
                    {% endif %}

                    {% set popover_description = "" %}
                    {% if use_popover_description %}
                        {% set popover_description %}
                            {% if todo.description is not null%}
                                <span class='d-block'>
                                <b>{{ 'todo.list.info.description' | trans }}:</b>
                                {{ todo.description }}
                            </span>
                            {% endif %}

                            {% if todo.myIssue is not null %}
                                <span class='d-block'>
                                <b>{{ 'todo.list.relatedModules.issues.singular' | trans }}: </b>{{ todo.myIssue.name }}
                            </span>
                            {% endif %}

                            {% if
                                (
                                    todo.module is not null
                                and MODULE_NAME_ISSUES == todo.module.name
                                and todo.myIssue is null
                                )
                            %}
                                <span class='d-block'>
                                <b>{{ 'todo.list.info.notRelatedToAnySpecificRecord' | trans }}</b>
                            </span>
                            {% endif %}
                        {% endset %}
                    {% endif %}

                    <div class="single-parent-task"
                        data-toggle-popover="true"                                {# popover attr #}
                        data-content="{{ popover_description | escape }}"         {# popover attr #}
                        data-placement="top"                                      {# popover attr #}
                    >
                        {% include 'modules/my-todo/components/one-parent-task-todo.html.twig' with {
                            todo: todo
                        } %}
                    </div>
                    {% include 'modules/my-todo/components/modal.html.twig' with {
                        'todo' : todo
                    } %}
                {% endfor %}
            </section>
        </div>
    </div>
</div>