{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% set modules_controller = "App\\Controller\\Modules\\ModulesController::" %}
{% set MODULE_NAME_GOALS  = constant(modules_controller ~ 'MODULE_NAME_GOALS') %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>

            {% include "modules/common/components/info-block.twig" with {
                text_translation_string   : 'todo.infoBlock.text.mainDescription',
                header_translation_string : 'todo.infoBlock.header'
            } %}

            {% if all_grouped_todo is defined %}
                {% for module_name, all_todo in all_grouped_todo %}
                    {%  include 'modules/my-todo/components/single-todo-group.html.twig' with {
                        all_todo    : all_todo,
                        module_name : module_name
                    } %}
                {% endfor %}
            {% elseif all_todo is defined %}`
                {%  include 'modules/my-todo/components/single-todo-group.html.twig' with {
                    all_todo: all_todo
                } %}
            {% endif  %}

            {# Forms #}
            {% if todo_form is defined %}
                <div class="row mT-20">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'todo.list.headers.addTodo' | trans }}</h4>
                            <div class="col-md-6 align-self-center add-record-form" data-type="MyTodo">
                                {{ form(todo_form ,{'attr':{' data-entity':"MyTodo"}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if show_add_todo_widget is defined and  show_add_todo_widget %}
                <div class="widgets-wrapper">
                    <span class="action pointer circle-plus"
                         data-entity-detials-action="true"
                         data-dialog-call-request-url="{{ path('dialog_body_add_or_modify_todo') }}"
                         data-dialog-call-request-method="POST"
                         data-dialog-call-request-post-parameters='{
                               "actionPathname": "{{ app.request.attributes.get('_route') }}",
                               "moduleName": "{{ MODULE_NAME_GOALS }}"
                            }'
                         data-call-dialog-on-click="true"
                         data-dialog-name="addOrModifyTodo"
                         data-toggle-popover="true"                     {# popover attr #}
                         data-content="                                 {# popover attr #}
                            {{ 'todo.widget.add.label' | trans }}
                         "
                    >
                        <div class="circle">
                            <div class="horizontal"></div>
                            <div class="vertical"></div>
                        </div>
                    </span>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock body %}
