{% block jscolorpicker_widget %}
    <button class="jscolor {value:'{{ value }}'} btn btn-sm color-picker"
            data-color="{{ value }}"
            data-jscolor="{
                preset:'large dark',
                value:'{{ value }}',
                format:'hex',
                valueElement:'.color-holder-for-form{{ id }}'
            }"
    ></button>
    <input  {{ block('widget_attributes') }}
            data-color-holder class="color-holder-for-form{{ id }} input-as-text position-absolute"/>
{% endblock %}