<div class="layers">
    <div class="layer w-100 mB-10">
        <h6 class="lh-1">{{ 'goals.list.headers.todolist' | trans }}</h6>
    </div>
    <div class="layer w-100">
        <ul class="list-task list-group" data-role="tasklist">

            {% for subgoal in all_subgoals%}
                {% if goal.id == subgoal.myGoal.id %}
                    {% set subgoal_number = subgoal.id %}

                    {% if subgoal.completed %}
                        {% set checked = 'checked' %}

                        {% set status_label   = 'success' %}
                        {% set status_text    = 'Done' %}
                    {% else %}
                        {% set checked = '' %}
                        {% set status_label   = 'info' %}
                        {% set status_text    = 'Not done' %}
                    {% endif %}

                    <li class="list-group-item bdw-0 subgoal" data-role="task">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall{{ goal_number }}{{ subgoal_number }}" name="inputCheckboxesCall"
                                   class="peer checklist-checkbox completed"
                                    {{ checked }}
                                   data-goal-id="{{ goal_number }}"
                                   data-subgoal-id="{{ subgoal_number  }}"
                            >
                            <label for="inputCall{{ goal_number }}{{ subgoal_number }}" class=" peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed">{{ subgoal.name }}</span>

                                <span class="peer">
                            <span class="badge badge-pill fl-r badge-{{ status_label }} lh-0 p-10">{{ status_text }}</span>

                        </span>
                            </label>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
</div>
