<div>

    <table id="MyGoalsPayments" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td class="id d-none">{{ translate('datatables.table.idHash') }}</td>
            <td class="name">{{ translate('goals.settings.goalsPaymentsSection.table.name') }}</td>
            <td class="collectionStartDate">{{ translate('goals.settings.goalsPaymentsSection.table.collectionStartDate') }}</td>
            <td class="deadline">{{ translate('goals.settings.goalsPaymentsSection.table.deadline') }}</td>
            <td class="moneyGoal">{{ translate('goals.settings.goalsPaymentsSection.table.moneyGoal') }}</td>
            <td class="moneyCollected">{{ translate('goals.settings.goalsPaymentsSection.table.moneyCollected') }}</td>
            <td class="displayOnDashboard">{{ translate('goals.settings.goalsPaymentsSection.table.displayOnDashboard') }}</td>
            <td>{{ translate('datatables.table.actions') }}</td>
        </tr>
        </thead>
        <tbody>

        {% for payment in all_goals_payments %}

            {% set collectionStartTimestamp = date( payment.collectionStartDate | date('m/d/yyyy') ).timestamp %}
            {% set deadlineTimestamp        = date( payment.deadline            | date('m/d/yyyy') ).timestamp %}

            {% if payment.displayOnDashboard %}
                {% set checked = 'checked' %}
            {% else %}
                {% set checked = '' %}
            {% endif %}

            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MyGoalsPayments">

                <td class="id d-none">
                    {{ payment.id }}
                </td>

                <td class="name">
                    {{ payment.name }}
                </td>

                <td
                        class="collectionStartDate"
                        data-order="{{ collectionStartTimestamp }}"
                >
                    <span class="collectionStartDate">
                        {% include 'page-elements/components/forms/input-datepicker.twig' with {
                            "value"     : payment.collectionStartDate|date('Y-m-d'),
                            "disabled"  : true
                        } %}
                    </span>
                </td>

                <td
                    class=""
                    data-order="{{ deadlineTimestamp }}"
                >
                    <span class="deadline">
                        {% include 'page-elements/components/forms/input-datepicker.twig' with {
                            "value"     : payment.deadline|date('Y-m-d'),
                            "disabled"  : true
                        } %}
                    </span>
                </td>

                <td class="moneyGoal">
                    {{ payment.moneyGoal }}
                </td>

                <td class="moneyCollected">
                    {{ payment.moneyCollected }}
                </td>

                <td class="">
                    {% include 'page-elements/components/forms/input-rounded-checkbox.twig' with {
                        "checked": checked,
                        "label"  : "",
                        "classes": "disabled checkbox-disabled"
                    } %}
                </td>

                <td contenteditable="false">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <i class="far fa-edit"></i>
                    <i class="far fa-save d-none"></i>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>


</div>