<div>

    <table id="MyGoals" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td class="id d-none">{{ 'datatables.table.idHash' | trans }}</td>
            <td class="name">{{ 'goals.settings.goalsSection.table.name' | trans }}</td>
            <td class="description"> {{ 'goals.settings.goalsSection.table.description' | trans }}</td>
            <td class="displayOnDashboard">{{ 'goals.settings.goalsSection.table.displayOnDashboard' | trans }}</td>
            <td>{{ 'datatables.table.actions' | trans }}</td>
        </tr>
        </thead>
        <tbody>

        {% for goal in all_goals %}
            {% if goal.displayOnDashboard %}
                {% set checked = 'checked' %}
            {% else %}
                {% set checked = '' %}
            {% endif %}

            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MyGoals">

                <td class="id d-none">
                    {{ goal.id }}
                </td>

                <td class="name">
                    {{ goal.name }}
                </td>

                <td class="description">
                    {{ goal.description }}
                </td>

                <td class="">
                    {% include 'page-elements/components/forms/input-rounded-checkbox.twig' with {
                        "checked": checked,
                        "label"  : "",
                        "classes": "disabled displayOnDashboard checkbox-disabled"
                    } %}
                </td>
                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash": true,
                    "edit": true,
                    "save": true
                } %}
            </tr>

        {% endfor %}

        </tbody>
    </table>


</div>