<div>

    <table id="MyGoalsPayments" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td class="id d-none">{{ 'datatables.table.idHash' | trans }}</td>
            <td class="name">{{ 'goals.settings.goalsPaymentsSection.table.name' | trans }}</td>
            <td class="collectionStartDate">{{ 'goals.settings.goalsPaymentsSection.table.collectionStartDate' | trans }}</td>
            <td class="deadline">{{ 'goals.settings.goalsPaymentsSection.table.deadline' | trans }}</td>
            <td class="moneyGoal">{{ 'goals.settings.goalsPaymentsSection.table.moneyGoal' | trans }}</td>
            <td class="moneyCollected">{{ 'goals.settings.goalsPaymentsSection.table.moneyCollected' | trans }}</td>
            <td class="displayOnDashboard">{{ 'goals.settings.goalsPaymentsSection.table.displayOnDashboard' | trans }}</td>
            <td>{{ 'datatables.table.actions' | trans }}</td>
        </tr>
        </thead>
        <tbody>

        {% for payment in all_goals_payments %}

            {% set collectionStartTimestamp = date( payment.collectionStartDate | date('m/d/yyyy') ).timestamp %}
            {% set deadlineTimestamp        = date( payment.deadline            | date('m/d/yyyy') ).timestamp %}

            {% if payment.displayOnDashboard %}
                {% set checked = 'checked' %}
            {% else %}
                {% set checked = '' %}
            {% endif %}

            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MyGoalsPayments">

                <td class="id d-none">
                    {{ payment.id }}
                </td>

                <td class="name">
                    {{ payment.name }}
                </td>

                <td
                        class="collectionStartDate"
                        data-order="{{ collectionStartTimestamp }}"
                >
                    <span class="collectionStartDate">
                        {% include 'page-elements/components/forms/input-datepicker.twig' with {
                            "value"     : payment.collectionStartDate|date('Y-m-d'),
                            "disabled"  : true
                        } %}
                    </span>
                </td>

                <td
                    class=""
                    data-order="{{ deadlineTimestamp }}"
                >
                    <span class="deadline">
                        {% include 'page-elements/components/forms/input-datepicker.twig' with {
                            "value"     : payment.deadline|date('Y-m-d'),
                            "disabled"  : true
                        } %}
                    </span>
                </td>

                <td class="moneyGoal">
                    {{ payment.moneyGoal }}
                </td>

                <td class="moneyCollected">
                    {{ payment.moneyCollected }}
                </td>

                <td class="">
                    {% include 'page-elements/components/forms/input-rounded-checkbox.twig' with {
                        "checked": checked,
                        "label"  : "",
                        "classes": "disabled checkbox-disabled displayOnDashboard"
                    } %}
                </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash": true,
                    "edit": true,
                    "save": true
                } %}

            </tr>

        {% endfor %}

        </tbody>
    </table>


</div>