<div>

    <table id="MyGoals" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td class="id d-none">{{ translate('datatables.table.idHash') }}</td>
            <td class="name">{{ translate('goals.settings.goalsSection.table.name') }}</td>
            <td class="description"> {{ translate('goals.settings.goalsSection.table.description') }}</td>
            <td class="displayOnDashboard">{{ translate('goals.settings.goalsSection.table.displayOnDashboard') }}</td>
            <td>{{ translate('datatables.table.actions') }}</td>
        </tr>
        </thead>
        <tbody>

        {% for goal in all_goals %}
            {% if goal.displayOnDashboard %}
                {% set checked = 'checked' %}
            {% else %}
                {% set checked = '' %}
            {% endif %}

            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MyGoals">

                <td class="id d-none">
                    {{ goal.id }}
                </td>

                <td class="name">
                    {{ goal.name }}
                </td>

                <td class="description">
                    {{ goal.description }}
                </td>

                <td class="">
                    {% include 'page-elements/components/forms/input-rounded-checkbox.twig' with {
                        "checked": checked,
                        "label"  : "",
                        "classes": "disabled displayOnDashboard checkbox-disabled"
                    } %}
                </td>
                {# Todo: make template from it #}
                <td contenteditable="false" data-content-editable="false">
                    <i class="fa fa-trash remove-record" aria-hidden="true"></i>
                    <i class="far fa-edit edit-record"></i>
                    <i class="far fa-save save-record d-none"></i>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>


</div>