<div class="list-group-item-action col-md-{{ col_size }} one-goal m-5 single-payment d-flex justify-content-center flex-column single-payment-goal"> {# remove the css frames #}
    <b class="row d-flex justify-content-around single-payment-goal-name">{{ payment.name | raw }}</b>
    <div class="row d-flex justify-content-around ldBar label-center m-10 align-self-center" data-value="10"
         data-preset="circle">
        <div class="pool-info single-payment-goal-pool-info">
            <span class="pool-progress">{{ payment.moneyCollected }}</span>
            <span>/</span>
            <span class="pool-target">{{ payment.moneyGoal }}</span>
        </div>
    </div>
    <div class="pool-info additional-info d-flex justify-content-center flex-column">
        <span class="pool-end_date align-self-center">{{ payment.deadline|date('Y-m-d')  }} ({{ payment_days_left }}  {{ 'goals.payments.daysLeft' | trans }}</span>

        <span class="pool-end_date align-self-center">
        {% if payment_start_in is defined %}
            {{ 'goals.payments.paymentStartsIn' | trans }} <b>{{ payment_start_in.days }}</b> {{ 'goals.payments.days' | trans }}
        {% else %}
            {{ payment_percentage_days_left | round( 0, 'floor') }}% {{ 'goals.payments.timeElapsed' | trans }}
        {% endif %}
        </span>

        <section class="layer w-100 mT-15">
            <div class="progress mT-10">
                <div class="progress-bar bgc-light-blue-500" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                     aria-valuemax="100" style="width:{{ payment_percentage_days_left | round( 0, 'floor') }}%;">
                </div>
            </div>
        </section>
    </div>
</div>