<div>

    <table id="MySubgoals" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td class="id d-none">{{ translate('datatables.table.idHash') }}</td>
            <td class="name">{{ translate('goals.settings.subGoalsSection.table.name') }}</td>
            <td class="description">{{ translate('goals.settings.subGoalsSection.table.goal') }}</td>
            <td>{{ translate('datatables.table.actions') }}</td>
        </tr>
        </thead>
        <tbody>

        {% for subgoal in all_subgoals %}

            <tr class="trash-parent monthly-single-data editable-parent save-parent" data-type="MySubgoals">

                <td class="id d-none">
                    {{ subgoal.id }}
                </td>

                <td class="name">
                    {{ subgoal.name }}
                </td>

                <td class="parent-td">
                    <select class="form-control disabled goal option-picker">
                        <option value=""></option>
                        {% for goal in all_goals %}
                                <option value="{{ goal.id }}"
                                        {% if goal.id  == subgoal.myGoal.id %}selected{% endif %}>
                                    {{ goal.name | capitalize }}
                                </option>
                        {% endfor %}

                    </select>
                </td>

                <td contenteditable="false">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <i class="far fa-edit"></i>
                    <i class="far fa-save d-none"></i>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>


</div>