<section
        class="editable-module-content editable-parent save-parent"
        data-type="ModuleData"
        data-record-id="{{ id is defined ? id : null }}"
        data-record-type="{{ record_type }}"
        data-module="{{ module }}"
        data-record-identifier="{{ record_identifier }}"
>

    <p class="actions">
        {% include 'modules/common/components/actions.twig' with {
            save                    : true,
            editWithTinyMce         : true,
            tinyMceSelector         : "#editable-module-content-description",
            tinyMceInstanceSelector : "editable-module-content-description",
            tinyMceWrapperClasses   : "m-25",
            editWithTinyMce_style   : "font-size: 15px;",
            saveStyle               : "font-size: 15px;"
        } %}
    </p>

    <div class="description toggle-content-editable" id="editable-module-content-description">
        {{ description | raw }}
    </div>

</section>
