{% set in_2_months      = ' color:green;' %}
{% set in_1_months      = ' color:darkorange;' %}
{% set in_2_weeks       = ' color:red;'  %}
{% set common_style     = "" %}
{% set date_color_style = '' %}
{% set font_style        = " font-weight:bold;" %}

{% set curr_date        =  "now"|date("m/d/Y") %}

<table id="MyCar" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        {% for column in column_names %}
            <td class="{{ hideIdColumn(column) }}">{{ column|capitalize }}</td>
        {% endfor %}
        <td>{{ translate('car.table.scheduleType') }}</td>
        <td>{{ translate('datatables.table.actions') }}</td>
    </tr>
    </thead>
    <tbody>
    {% for car_data in car_all_data %}

        {% if car_data.date is not empty %}
            {% set dates_difference = date(curr_date).diff(date(car_data.date)) %}

            {% if dates_difference.days > 30 and dates_difference.days < 60 %}
                {% set date_color_style = in_2_months %}
                {% set common_style     = font_style %}
            {% elseif dates_difference.days > 14 and dates_difference.days < 30 %}
                {% set date_color_style = in_1_months %}
                {% set common_style     = font_style %}
            {% elseif dates_difference.days < 14 %}
                {% set date_color_style = in_2_weeks %}
                {% set common_style     = font_style %}
	    {% else %}
		{% set date_color_style = '' %}
            {% endif %}
        {% endif %}

        <tr class="trash-parent car-single-data editable-parent save-parent " data-type="MyCar">
	
            {% for column in column_names %}

                {% if column == 'date' %}

                    {% set timestamp = date( car_data.date | date('m/d/yyyy') ).timestamp %}

                    <td class="{{ hideIdColumn(column) }}"
                        style="{{ date_color_style}}{{ common_style }}"
                        data-order="{{ timestamp }}"
                        >
                        <span class="{{ column }} ">
                            {% include 'page-elements/components/forms/input-datepicker.twig' with {
                                "value"     : car_data.date|date("Y-m-d"),
                                "disabled"  : true
                            } %}
                        </span>
                    </td>

                {% else %}

                    <td class="{{ column }} {{ hideIdColumn(column) }}" style="{{ date_color_style}}{{ common_style }}">
                        {{ attribute(car_data,column) }}
                    </td>

                {% endif %}

            {% endfor %}

            <td class="parent-td">

                <select class="form-control disabled type option-picker">
                    <option value=""></option>
                    {% for schedule_type in car_all_schedules_types %}
                        <option value="{{ schedule_type.id }}"
                                {% if  car_data.scheduleType is not null and schedule_type.id == car_data.scheduleType.id %}selected{% endif %}
                        >
                            {{ schedule_type.name | capitalize }}
                        </option>
                    {% endfor %}
                </select>
            </td>

            <td contenteditable="false">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <i class="far fa-edit"></i>
                <i class="far fa-save d-none"></i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h5>{{ translate('car.legend.label') }}</h5>
<button class="btn btn-sm disabled color-legend-button" style="background-color:green;">{{ translate('car.legend.over30') }}</button>
<button class="btn btn-sm disabled color-legend-button" style="background-color:orange;">{{ translate('car.legend.over14') }}</button>
<button class="btn btn-sm disabled color-legend-button" style="background-color:red;">{{ translate('car.legend.14') }}</button>
