<div class="masonry-item col-md-6">
    <div class="bd bgc-white p-20">
        <div class="layers">
            <div class="layer w-100 mB-10">
                <h6 class="lh-1">{{ translate( ('dashboard.widgets.' ~ widget_name ~ '.label') ) }}</h6>
            </div>
            <div class="layer w-100">

                <ul class="list-task list-group" data-role="tasklist">

                    {% for schedule in schedules %}
                    {% set classes = getClassesForSchedulesWidget(schedule.daysDiff) %}

                        <li class="list-group-item bdw-0" data-role="task">
                            <div class="peers ai-c">
                                <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                                        <span class="peer peer-greed">
                                            {{ schedule.name }}
                                            ({{ schedule.date }})
                                        </span>
                                        <span class="peer">
                                            <span class="badge badge-pill fl-r {{ classes }} lh-0 p-10">
                                                {{ schedule.daysDiff }} days
                                            </span>
                                        </span>
                                </label>
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
