<div class="masonry-item col-md-6">
    <div class="bd bgc-white p-20">
        <div class="layers">
            <div class="layer w-100 mB-10">
                <h6 class="lh-1">{{  ('dashboard.widgets.' ~ widget_name ~ '.label')  | trans }}</h6>
            </div>
            <div class="layer w-100">

                <ul class="list-c ">
                    {% for todo in all_todo %}
                        <li class=" list-group-item"
                            data-toggle-popover="true"                                      {# popover attr #}
                            data-html="true"                                                {# popover attr #}
                            data-trigger="hover"                                            {# popover attr #}
                            data-content="{{  todo.description }}"                          {# popover attr #}
                            data-placement="top"                                            {# popover attr #}
                        >
                            <b>{{ todo.name }}</b>
                            <ul class="list-c">
                                {% for element in todo.myTodoElement %}

                                    {% if element.completed %}
                                        {% set status_label   = 'success' %}
                                        {% set status_text    = 'Done' %}
                                    {% else %}
                                        {% set status_label   = 'info' %}
                                        {% set status_text    = 'Not done' %}
                                    {% endif %}

                                    <li style="margin-left:15px;margin-top:5px;">
                                        {{ element.name }}
                                        <span class="peer" style="display:inline;">
                                            <span class="badge badge-pill fl-r badge-{{ status_label }} lh-0 p-10">{{ status_text }}</span>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>