{% set td_center = '' %}
{% set content_width = '' %}

<div>
    <table id="MyTravelsIdeas" class="" cellspacing="0"
           data-table="false" width="100%" style="max-width:450px;">
        <tbody>
        <tr class="trash-parent monthly-single-data editable-parent save-parent d-flex flex-column"
            data-type="MyTravelsIdeas" style="box-shadow: 4px 4px 8px rgba(0,0,0,0.5);">

            <section id="location-information">
                <td class="text-center country" style="border: none;display:table-column;">
                    <span>{{ idea.country }}</span>
                </td>
                <td class="text-center location" style="border: none;display:table-column;">
                    <span>{{ idea.location }}</span>
                </td>
            </section>

            {% for column in columns_names %}

                {% if column == 'map' or column == 'image' %}
                    {% set td_center ='display:block; margin:0 auto;' %}
                    {% set content_width = 'width: 400px;' %}
                {% endif %}

                <td class="
                    {{ column | trim }}
                    {{ hideIdColumn(column) }}
                    {{ hideCountryColumn(column) }}
                    {{ hideLocationColumn(column) }}
                    text-center"
                    style="
                    {% if column == 'category' %} display:table-column {% endif %}
                            ">

                    {% if column == 'map' %}
                        <b><a href="{{ idea.map | trim }}">
                                <span class="icon-holder" style="color:black;">
                                    <i class="fas fa-globe-americas"></i>
                               </span>
                            </a></b>
                    {% elseif column == 'image' %}
{#                        <img src="{{ idea.image | trim }}" style="border:0;{{ content_width }} {{ td_center }}"/>#}
                        <img src="https://i.pinimg.com/originals/4d/82/41/4d8241acd63e8eae98934784a57b576d.jpg" style="border:0;{{ content_width }} {{ td_center }}"/>
                    {% elseif column == 'category' %}
                        <i>{{ idea.category | trim }}</i>
                    {% elseif column != 'id' %}
                        <b>{{ attribute(idea,column) | trim }}</b>
                    {% else %}
                        {{ attribute(idea,column) | trim }}
                    {% endif %}

                </td>

            {% endfor %}
            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                "trash": true,
                "trash_icon" : "fas fa-times-circle fa-sm",
                "edit": true,
                "edit_icon": "fas fa-pen-square fa-sm",
                "save": true,
                "tableClasses": "actions"
            } %}
        </tr>
        </tbody>
    </table>
</div>