<li class="booking-card" style="background-image: url({{idea.image}})">
    <div class="book-container">
        <div class="content">
            <a href="{{idea.map | trim}}" target="_blank"><button class="btn">{{ 'travels.buttons.map' | trans }}</button></a>
        </div>
    </div>
    <div class="informations-container">
        <h2 class="title">{{ idea.country }}</h2>
        <p class="sub-title">{{ idea.location }}</p>

        <div class="more-information">
            <div class="actions-container d-flex justify-content-around">
                <div class="box date pointer"
                     data-entity-id="{{ idea.id }}"
                     data-repository-name="{{ constant('App\\Controller\\Core\\Repositories::MY_TRAVELS_IDEAS_REPOSITORY_NAME') }}"
                     data-entity-modal-edit-action="true"
                     data-toggle-popover="true"                     {# popover attr #}
                     data-placement="top"                           {# popover attr #}
                     data-content="                                 {# popover attr #}
                      {{ 'travels.popovers.edit' | trans }}
                    "
                >
                    <i class="far fa-edit"></i>
                </div>
                <div class="box date pointer"
                     data-entity-id="{{ idea.id }}"
                     data-repository-name="{{ constant('App\\Controller\\Core\\Repositories::MY_TRAVELS_IDEAS_REPOSITORY_NAME') }}"
                     data-entity-removal-action="true"
                     data-toggle-popover="true"                     {# popover attr #}
                     data-placement="top"                           {# popover attr #}
                     data-content="                                 {# popover attr #}
                      {{ 'travels.popovers.remove' | trans }}
                    "
                >
                    <i class="fa fa-trash"></i>
                </div>
            </div>
        </div>
    </div>
</li>
