{# This widget is uset in upload based modules - removes the entire folder with all subdirectories and files inside of them #}
{% set grayed   = '' %}
{% set disabled = '' %}

{% if files_count_in_tree > 0 %}
    {% set disabled = 'disabled' %}
    {% set grayed = 'color:rgba(0,0,0,0.35); ' %}
{% endif %}

<div class="widget-remove-folder {{ disabled }} far fa-minus-square widget-remove-folder"
     data-folder-path-in-upload-dir="{{ folder_path }}"
     data-upload-module-dir="{{ upload_module_dir }}"
     style="{{ grayed }}"
        {% if popoverContent is defined and popoverContent is not empty %}
            data-toggle-popover="true"                                {# popover attr #}
            data-content="{{ popoverContent }}"                       {# popover attr #}
            data-placement="right"                                    {# popover attr #}
        {% endif %}
>
</div>