{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                {# Forms #}
                <div class="row">
                    <div class="col-md-12">

                        {# Types #}
                        <div class="row">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column" style="width:100%;">
                                <h4 class="c-grey-900 mB-20 align-self-center">{{ 'contact.settings.headers.changeAddContactType' | trans }}</h4>

                                <div>
                                    {{ contact_types_table | raw }}
                                </div>

                                <section class="row d-flex justify-content-center">
                                    <div class="col-md-6 align-self-center add-record-form">
                                        {{ form_start(type_form, {'attr':{'data-entity':"MyContactType"}}) }}
                                        {{ form_end(type_form) }}
                                    </div>
                                </section>

                            </div>
                        </div>

                        {# Groups #}
                        <div class="row">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column" style="width:100%;">
                                <h4 class="c-grey-900 mB-20 align-self-center">{{ 'contact.settings.headers.changeAddContactGroup' | trans }}</h4>

                                <div>
                                    {{ contact_groups_table | raw }}
                                </div>

                                <section class="row d-flex justify-content-center">
                                    <div class="col-md-6 align-self-center add-record-form">
                                        {{ form_start(group_form, {'attr':{'data-entity':"MyContactGroup"}}) }}
                                        {{ form_end(group_form) }}
                                    </div>
                                </section>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
