<hr/>

<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'calendar'}) }}">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
        <span class="title">Calendar</span>
    </a>
</li>

<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'calendar'}) }}">
                <span class="icon-holder">
                      <i class="c-orange-500 ti-layout-list-thumb"></i>
                </span>
        <span class="title">Tasks</span>
    </a>
</li>

<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'calendar'}) }}">
                <span class="icon-holder">
                      <i class="far fa-lightbulb"></i>
                </span>
        <span class="title">Ideas</span>
    </a>
</li>

<hr/>

<!-- ### My changes end ### -->

<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'email'}) }}">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-email"></i>
                </span>
        <span class="title">Email</span>
    </a>
</li>
<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'compose'}) }}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-share"></i>
                </span>
        <span class="title">Compose</span>
    </a>
</li>
<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'calendar'}) }}">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
        <span class="title">Calendar</span>
    </a>
</li>
<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'chat'}) }}">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-comment-alt"></i>
                </span>
        <span class="title">Chat</span>
    </a>
</li>
<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'charts'}) }}">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-bar-chart"></i>
                </span>
        <span class="title">Charts</span>
    </a>
</li>
<li class="nav-item">
    <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'forms'}) }}">
                <span class="icon-holder">
                  <i class="c-light-blue-500 ti-pencil"></i>
                </span>
        <span class="title">Forms</span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="sidebar-link" href="ui">
                <span class="icon-holder">
                    <i class="c-pink-500 ti-palette"></i>
                  </span>
        <span class="title">UI Elements</span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-layout-list-thumb"></i>
                </span>
        <span class="title">Tables</span>
        <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'basic-table'}) }}">Basic
                Table</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'datatable'}) }}">Data
                Table</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-map"></i>
                  </span>
        <span class="title">Maps</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="google-maps">Google Map</a>
        </li>
        <li>
            <a href="vector-maps">Vector Map</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-red-500 ti-files"></i>
                  </span>
        <span class="title">Pages</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('admin_default', {'pageName': '404'}) }}">404</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('admin_default', {'pageName': '500'}) }}">500</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('admin_default', {'pageName': 'signup'}) }}">Sign Up</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                  <i class="c-teal-500 ti-view-list-alt"></i>
                </span>
        <span class="title">Multiple Levels</span>
        <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item dropdown">
            <a href="javascript:void(0);">
                <span>Menu Item</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0);">
                <span>Menu Item</span>
                <span class="arrow">
                      <i class="ti-angle-right"></i>
                    </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);">Menu Item</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Menu Item</a>
                </li>
            </ul>
        </li>
    </ul>
</li>