{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}
    {% extends template %}
{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                {# Forms #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">Upload files</h4>

                            {% if isDemo() %}
                                <p  class="text-center">
                                    <i>
                                        For security reason (Demo instance) - some file types upload has been disabled.<br/>
                                        You won't be informed about wrong file upload - that file will just be skipped.
                                    </i>
                                </p>
                            {% endif %}

                            <div class="col-md-6 file-upload-form justify-content-center align-self-center">
                                {{ form_start(form, {'attr': {'class': 'flex-column'}}) }}

                                {{ form_widget(form.upload_type, {'attr': {'class': 'form-control upload-type listFilterer'}}) }}

                                <section class="file-picker-and-folder-picker d-flex">
                                    <section id="file-upload-file-select"
                                             class=" btn btn-sm btn-primary d-flex"
                                             style="width:50px; height:50px; padding: 0; "
                                    >
                                        {{ form_widget(form.file) }}

                                    </section>
                                    {{ form_widget(form.resetSelectedFiles) }}
                                    {{ form_widget(form.subdirectory) }}
                                </section>

                                <section class="button-submit col-md-3">
                                    {{ form_widget(form.submit) }}
                                </section>

                                {{ form_end(form) }}
                                <small id="currentFileSizeWrapper" class="text-success">
                                    Selected files size: <span class="selected-files-size">0</span>Mb
                                </small>
                                <br/>
                                <small id="maxUploadSizeWrapper" data-max-upload-size="{{ max_upload_size_mb }}">
                                    Max upload size: {{ max_upload_size_mb }} Mb
                                </small>
                                <small>
                                    <ul  id="selectedFilesList">

                                    </ul>
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
