<table id="MyPasswordsGroups" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.id' | trans }}</td>
        <td>{{ 'passwords.settings.table.name' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr class="trash-parent car-single-data editable-parent save-parent" data-type="MyPasswordsGroups">
            <td class="d-none id">{{ group.id }}</td>
            <td class="name"> {{ group.name }}</td>

            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                "trash": true,
                "edit": true,
                "save": true
            } %}

        </tr>
    {% endfor %}
    </tbody>
</table>
