<table id="MyPasswords" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.id' | trans }}</td>
        <td>{{ 'passwords.table.login' | trans }}</td>
        <td>{{ 'passwords.table.password' | trans }}</td>
        <td>{{ 'passwords.table.url' | trans }}</td>
        <td>{{ 'passwords.table.description' | trans }}</td>
        <td>{{ 'passwords.table.group' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>
    {% for password in passwords %}

        {% set lock_record = password.id %}
        {% set lock_type   = constant('App\\Entity\\System\\LockedResource::TYPE_ENTITY') %}
        {% set lock_target = constant('App\\Controller\\Modules\\ModulesController::MODULE_NAME_PASSWORDS') %}

        {% if isAllowedToSeeResource(lock_record, lock_type, lock_target) %}

            <tr class="trash-parent editable-parent save-parent copy-parent"
                data-type="MyPasswords">
                <td class="d-none id">{{ password.id }}</td>
                <td class="login"> {{ password.login }}</td>
                <td class="password" id="password-id-{{ password.id }}"> {{ 'passwords.hiddenPassword' | trans }} </td>
                <td class="url"> {{ password.url }}</td>
                <td class="description"> {{ password.description }}</td>

                <td class="parent-td">

                    <select class="form-control disabled group option-picker">
                        <option value=""></option>
                        {% for group in groups %}
                            <option value="{{ group.id }}"
                                    {% if password.group is not null and group.id  == password.group.id %}selected{% endif %}>
                                {{ group.name | capitalize }}
                            </option>
                        {% endfor %}
                    </select>
                </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash"             : true,
                    "edit"              : true,
                    "copy"              : true,
                    "copy_attr"         : 'data-copy-from-selector="#password-id-' ~ password.id ~ '"',
                    "save"              : true,
                    "lock_record"       : lock_record,
                    "lock_type"         : lock_type,
                    "lock_target"       : lock_target,
                } %}

            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>
