<td
        contenteditable="false"
        data-content-editable="false"
        {% if tableClasses is defined %}
        class="{{ tableClasses }}"
        {% endif %}
>

    {% if trash is defined and trash %}
        <i class="fa fa-trash remove-record"
           aria-hidden="true"
           data-content-editable="false"
        {% if trash_attr is defined and trash_attr is not empty %}
            {{ trash_attr }}
        {% endif %}
        ></i>
    {% endif %}

    {% if edit is defined and edit %}
        <i class="far fa-edit edit-record"
           data-content-editable="false"
        {% if edit_attr is defined and edit_attr is not empty %}
            {{ edit_attr }}
        {% endif %}
        ></i>
    {% endif %}

     {% if copy is defined and copy %}
        <i class="far far fa-copy copy-record"
        {% if copy_attr is defined and copy_attr is not empty %}
                {{ copy_attr }}
        {% endif %}
        ></i>
    {% endif %}

    {% if save is defined and save %}
        <i class="far fa-save save-record d-none"
           data-content-editable="false"
        {% if save_attr is defined and save_attr is not empty %}
            {{ save_attr }}
        {% endif %}
        ></i>
    {% endif %}

    {% if fontawesome is defined and fontawesome %}
        <i class="fas fa-smile action-fontawesome d-none"
           data-content-editable="false"
        {% if fontawesome_attr is defined and fontawesome_attr is not empty %}
            {{ fontawesome_attr }}
        {% endif %}
        ></i>
    {% endif %}
</td>