<table id="myContactGroupSettingsTable" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">{{ 'datatables.table.Id' | trans }}</td>
        <td>{{ 'contact.settings.table.name' | trans }}</td>
        <td>{{ 'contact.settings.table.preview' | trans }}</td>
        <td>{{ 'contact.settings.table.icon' | trans }}</td>
        <td>{{ 'contact.settings.table.color' | trans }}</td>
        <td>{{ 'datatables.table.actions' | trans }}</td>
    </tr>
    </thead>
    <tbody>

    {% for group in groups %}
        <tr class="trash-parent editable-parent save-parent" data-type="MyContactGroup">
            <td class="d-none id">      {{ group.id }}                           </td>
            <td class="name">           {{ group.name | capitalize}}             </td>
            <td class="data-preview text-center" style="color:#{{ group.getColor() }}">
                <i class="{{ group.getIcon() }} my-contact-group-settings-table-icon-preview"></i>
            </td>
            <td class="icon fontawesome-input{{ loop.index0 }}"> {{ group.getIcon() }}  </td>
            <td class="color position-relative">
                {% include 'page-elements/libs/js-color-button.html.twig' with {
                    color        : group.getColor(),
                    pickerNumber : loop.index0,
                } %}
            </td>

            {% include 'modules/common/components/table-cells/actions.html.twig' with {
                "trash": true,
                "edit": true,
                "save": true,
                "fontawesome": true,
            } %}

        </tr>
    {% endfor %}

    </tbody>
</table>
