<table class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
    <thead>
    <tr>
        <td>Year</td>
        <td>Days available for year</td>
        <td>Days spent</td>
        <td>Days left</td>
    </tr>
    </thead>
    <tbody>
    {% for  summary_for_year in job_holidays_summary %}
        <tr class="trash-parent car-single-data editable-parent save-parent">

            <td>{{ summary_for_year.year }}</td>
            <td>{{ summary_for_year.daysForYear }}</td>
            <td>{{ (summary_for_year.daysSpent       is null ? 0 : summary_for_year.daysSpent) }}</td>
            <td>{{ (summary_for_year.daysLeftForYear is null ? 0 : summary_for_year.daysLeftForYear) }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<p class="text-center"><u><b>Days left totally:</b> {{ job_holidays_available_totally }} </u></p>


