<div
    class="issue-wrapper"
    style="
    {% if isCompact is defined and isCompact %}
        width: 260px; /*fits 3 boxes in widget for 1080px*/
    {% endif %}
        "
>
    <section class="h-100p " style="overflow: hidden; min-height: 128px;">
        <div class="h-100p " style="overflow: hidden;">
            <div class="content bgc-white bd p-10">
                <h1 class="text-center"
                    data-toggle-popover="true"                                      {# popover attr #}
                    data-html="true"                                                {# popover attr #}
                    data-trigger="hover"                                            {# popover attr #}
                    data-content=
                    "                                                  {# popover attr #}
                        <b>Description: </b>{{  issueCardDto.getIssue().getInformation() }}

                        {%
                            if  isCompact is defined
                            and isCompact
                            and issueCardDto.waitingTodo is not empty
                        %}
                            </br>
                            </br>
                            <b>Waiting todo: </b>

                            <ul class='list-task list-group'>
                                <li class='list-group-item bdw-0 element'>
                                    {% for waitingTodo in issueCardDto.waitingTodo %}
                                        <span class='peer'>
                                            <i class='fas fa-dot-circle fa-sm text-info'></i>
                                                <span>{{ waitingTodo }}</span>
                                        </span>
                                    {% endfor %}
                                </li>
                            </ul>
                        {% endif %}
                    "
                    data-placement="top"                                            {# popover attr #}
                > {#todo: add translation strings to popover#}
                    {{ issueCardDto.getIssue().getName() }}
                </h1>
                <p class="text-center p-0 m-0">
                    {{ issueCardDto.getIssue().getInformation() }}
                </p>
            </div>

            <div class="title active bgc-white bd bdrs-3 p-10 h-100p">
                <ul style="list-style-type: none;" class="p-0">
                    {% if issueCardDto.getIssueLastContact() is not null %}
                        {% if isCompact is defined and isCompact %}
                            <li class="justify-content-center d-flex">
                                <b>{{ 'issues.card.lastContactDate' | trans }}</b>
                            </li>
                            <li class="justify-content-center d-flex">
                                <span>{{ issueCardDto.getIssueLastContact() | date("Y-m-d H:i:s") }}</span>
                            </li>
                        {% else %}
                            <li class="justify-content-center d-flex">
                                <b>{{ 'issues.card.lastContactDate' | trans }}</b>&nbsp;
                                <span>{{ issueCardDto.getIssueLastContact() | date("Y-m-d H:i:s") }}</span>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if issueCardDto.getIssueContactsByIcon() is not empty %}
                        <li class="justify-content-center d-flex">
                            {% for icon, issueContacts in issueCardDto.getIssueContactsByIcon() %}
                                <b><i class="fa-sm {{ icon }}"></i></b>: {{ issueContacts | length }}
                                {% if not loop.last %}
                                    |&nbsp;
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if issueCardDto.getIssue().getIssueContact() is not empty %}
                        <hr class="spaceless-hr">
                    {% endif %}

                    {% if issueCardDto.getIssue().getIssueProgress() is not empty %}
                        {% if isCompact is defined and isCompact %}
                            <li class="justify-content-center d-flex">
                                <b>{{ 'issues.card.lastProgressDate' | trans }}</b>&nbsp;
                            </li>
                            <li class="justify-content-center d-flex">
                                <span>{{ issueCardDto.getIssueLastProgress() | date("Y-m-d H:i:s") }}</span>
                            </li>
                        {% else %}
                            <li class="justify-content-center d-flex">
                                <b>{{ 'issues.card.lastProgressDate' | trans }}</b>&nbsp;
                                <span>{{ issueCardDto.getIssueLastProgress() | date("Y-m-d H:i:s") }}</span>
                            </li>
                        {% endif %}
                        <li class="justify-content-center d-flex">
                            <b><i class="fas fa-play-circle"></i></b>: {{ issueCardDto.getIssue().getIssueProgress() | length  }}
                        </li>
                    {% endif %}
                </ul>

                {% if isReadOnly is defined and isReadOnly %}
                    {# no action #}
                {% else %}
                    {% if issueCardDto.getIssue().getIssueProgress() is not empty %}
                        <hr class="spaceless-hr">
                    {% endif %}

                    <div class="issue-card-actions d-flex justify-content-between">

                        <div class="issue-card-actions-left">
                            <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-repository-name="MyIssueRepository"
                                  data-entity-removal-action="true"
                                  data-toggle-popover="true"                         {# popover attr #}
                                      data-html="true"                               {# popover attr #}
                                      data-trigger="hover"                           {# popover attr #}
                                      data-content="                                 {# popover attr #}
                                        {{ 'issues.card.popovers.removeRecord' | trans }}
                                      "
                            >
                                <i class="far fa-times-circle fa-lg"></i>
                            </span>
                        </div>

                        <div class="issue-card-actions-center issue-elements-actions">
                            <span class="action pointer mr-1"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-entity-toggle-boolval="true"
                                  data-entity-toggle-success-message="{{ 'issues.card.ajaxCallMessages.dashboardVisibilityHasBeenToggled' | trans }}"
                                  data-entity-repository-name="MyIssueRepository"
                                  data-entity-field-name="showOnDashboard"
                                  data-toggle-popover="true"                     {# popover attr #}
                                  data-html="true"                               {# popover attr #}
                                  data-trigger="hover"                           {# popover attr #}
                                  data-content="                                 {# popover attr #}
                                    {{ 'issues.card.popovers.toggleDashboardVisibility' | trans }}
                                  "
                            >
                                <i class="fas fa-home fa-lg"></i>
                            </span>
                                <span>
                                <i class="fas fa-dot-circle fa-sm {{ issueCardDto.issue().isShowOnDashboard() ? 'text-success' : "text-danger" }}"></i>
                            </span>
                        </div>

                        <div class="issue-card-actions-right">
                            <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-entity-detials-action="true"
                                  data-dialog-call-request-url="{{ path('dialog_body_add_issue_data') }}"
                                  data-dialog-call-request-method="POST"
                                  data-dialog-call-request-post-parameters='{"entityId": "{{ issueCardDto.issue().getId() }}"}'
                                  data-call-dialog-on-click="true"
                                  data-dialog-name="myIssueCardAddRecords"
                                  data-toggle-popover="true"                         {# popover attr #}
                                      data-html="true"                               {# popover attr #}
                                      data-trigger="hover"                           {# popover attr #}
                                      data-content="                                 {# popover attr #}
                                        {{ 'issues.card.popovers.addRecords' | trans }}
                                      "
                            >
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </span>

                            <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-entity-detials-action="true"
                                  data-dialog-call-request-url="{{ path('dialog_body_add_or_modify_todo') }}"
                                  data-dialog-call-request-method="POST"
                                  data-dialog-call-request-post-parameters='{
                                        "entityId": "{{ issueCardDto.issue().getId() }}",
                                        "actionPathname": "{{ app.request.attributes.get('_route') }}"
                                    }'
                                  data-call-dialog-on-click="true"
                                  data-dialog-name="addTodo"
                                  data-toggle-popover="true"                         {# popover attr #}
                                      data-html="true"                               {# popover attr #}
                                      data-trigger="hover"                           {# popover attr #}
                                      data-content="                                 {# popover attr #}
                                        {{ 'issues.card.popovers.addOrModifyExistingTodo' | trans }}
                                      "
                            >
                                <i class="fas fa-tasks"></i>
                            </span>

                            <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-entity-detials-action="true"
                                  data-dialog-call-request-url="{{ path('dialog_body_preview_issue_details') }}"
                                  data-dialog-call-request-method="POST"
                                  data-dialog-call-request-post-parameters='{"entityId": "{{ issueCardDto.issue().getId() }}"}'
                                  data-call-dialog-on-click="true"
                                  data-dialog-name="myIssueCardPreviewAndEdit"
                                  data-toggle-popover="true"                         {# popover attr #}
                                      data-html="true"                               {# popover attr #}
                                      data-trigger="hover"                           {# popover attr #}
                                      data-content="                                 {# popover attr #}
                                        {{ 'issues.card.popovers.previewAndEdit' | trans }}
                                      "
                            >
                                <i class="fas fa-eye fa-lg"></i>
                            </span>
                        </div>

                    </div>
                {% endif %}

            </div>
        </div>
    </section>
</div>