<div class="issue-wrapper">
    <main>
        <div>
            <div class="content bgc-white bd bdrs-3 p-10" style="padding-bottom: 20px; color: rgb(114, 119, 122) !important;">
                <h1 style="font-size:18px;" class="text-center">
                    {{ issueCardDto.getIssue().getName() }}
                </h1>
                <p class="text-center p-0 m-0">
                    {{ issueCardDto.getIssue().getInformation() }}
                </p>
            </div>

            <div class="title active bgc-white bd bdrs-3 p-10">
                <ul style="list-style-type: none;" class="p-0">
                    {% if issueCardDto.getIssueLastContact() is not null %}
                        <li class="justify-content-center d-flex"><b>{{ translate('issues.card.lastContactDate') }}</b>&nbsp;<span>{{ issueCardDto.getIssueLastContact() | date("Y-m-d H:i:s") }}</span></li>
                    {% endif %}
                    {% if issueCardDto.getIssueContactsByIcon() is not empty %}
                        <li class="justify-content-center d-flex">
                            {% for icon, issueContacts in issueCardDto.getIssueContactsByIcon() %}
                                <b><i class="fa-sm {{ icon }}"></i></b>: {{ issueContacts | length }}
                                {% if not loop.last %}
                                    |&nbsp;
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if issueCardDto.getIssue().getIssueProgress() is not empty %}
                        <hr class="spaceless-hr">

                        <li class="justify-content-center d-flex"><b>{{ translate('issues.card.lastProgressDate') }}</b>&nbsp;<span>{{ issueCardDto.getIssueLastProgress() | date("Y-m-d H:i:s") }}</span></li>
                        <li class="justify-content-center d-flex">
                            <b><i class="fas fa-play-circle"></i></b>: {{ issueCardDto.getIssue().getIssueProgress() | length  }}
                        </li>
                    {% endif %}
                </ul>

                <hr class="spaceless-hr">
                <div class="issue-card-actions d-flex justify-content-between">

                    <div class="issue-card-actions-left">
                        <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-repository-name="MyIssueRepository"
                                  data-entity-removal-action="true"
                                  data-toggle-popover="true"                     {# popover attr #}
                                  data-html="true"                               {# popover attr #}
                                  data-trigger="hover"                           {# popover attr #}
                                  data-content="                                 {# popover attr #}
                                    {{ translate('issues.card.popovers.removeRecord') }}
                                  "
                                  >
                            <i class="far fa-times-circle fa-lg"></i>
                        </span>
                    </div>

                    <div class="issue-card-actions-center issue-elements-actions">
                        <span class="action pointer mr-1"
                              data-entity-id="{{ issueCardDto.issue().getId() }}"
                              data-entity-toggle-boolval="true"
                              data-entity-toggle-success-message="{{ translate('issues.card.ajaxCallMessages.dashboardVisibilityHasBeenToggled') }}"
                              data-entity-repository-name="MyIssueRepository"
                              data-entity-field-name="showOnDashboard"
                              data-toggle-popover="true"                     {# popover attr #}
                              data-html="true"                               {# popover attr #}
                              data-trigger="hover"                           {# popover attr #}
                              data-content="                                 {# popover attr #}
                                {{ translate('issues.card.popovers.toggleDashboardVisibility') }}
                              "
                            >
                            <i class="fas fa-home fa-lg"></i>
                        </span>
                        <span>
                            <i class="fas fa-dot-circle fa-sm {{ issueCardDto.issue().isShowOnDashboard() ? 'text-success' : "text-danger" }}">{#todo: logic + css#}</i>
                        </span>

                    </div>

                    <div class="issue-card-actions-right">
                        <span class="action pointer"
                                  data-entity-id="{{ issueCardDto.issue().getId() }}"
                                  data-entity-detials-action="true"
                                  data-dialog-call-request-url="{{ path('dialog_body_preview_issue_details') }}"
                                  data-dialog-call-request-method="POST"
                                  data-dialog-call-request-post-parameters='{"entityId": "{{ issueCardDto.issue().getId() }}"}'
                                  data-call-dialog-on-click="true"
                                  data-call-dialog-callback="
                                        datatable.init();
                                        ui.crud.init();
                                        ui.widgets.applyAccordion();
                                        ui.widgets.popover.init();

                                        ui.crud.attachEventOnButtonForEditingViaTinyMce();
                                        ui.crud.attachEventOnButtonToTransformTargetSelectorToTinyMceInstance();
                                        prismjs.init();
                                  "
                                  data-toggle-popover="true"                     {# popover attr #}
                                  data-html="true"                               {# popover attr #}
                                  data-trigger="hover"                           {# popover attr #}
                                  data-content="                                 {# popover attr #}
                                    {{ translate('issues.card.popovers.previewAndEdit') }}
                                  "
                        >
                            <i class="fas fa-eye fa-lg"></i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>