{% extends 'page-elements/components/sidebar/menu-nodes/base-menu-node.twig' %}
{% set menu_node_module_name = constant("App\\Action\\System\\AppAction::MENU_NODE_MODULE_NAME_MY_IMAGES") %}

{% block nodeContent %}

    <li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-images') }} sidebar-menu-node-element {{ isVisible ? "" : "d-none" }}" data-menu-node-name="{{ menu_node_module_name }}"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.images.description' | trans
    }%}
    >

        <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                    <span class="icon-holder menu-node-my-images-icon">
                        <i class="fas fa-image fa-sm"></i>
                    </span>
            <span class="title">{{ 'sidebar.menu.images.label' | trans }}</span>
            <span class="arrow">
                        <i class="ti-angle-right fa-sm"></i>
                      </span>
        </a>

        <ul class="dropdown-menu folder-based-menu">
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('modules_my_images_settings') }}">
                    <span class="icon-holder menu-node-my-images-icon">
                        <i class="fas fa-cog fa-sm"></i>
                    </span>
                    {{  'sidebar.menu.notes.settings' | trans }}
                </a>
            </li>
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('modules_my_images') }}">
                    {{ 'sidebar.menu.images.mainDir' | trans }}
                </a>
            </li>
            {{ buildMenuForUploadType('images') | raw }}
        </ul>
    </li>

{% endblock nodeContent %}