<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-issues') }} sidebar-menu-node-element" data-menu-node-name="{{ MENU_NODE_MODULE_NAME_MY_ISSUES }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color: red;">
                <i class="fas fa-history fa-sm"></i>
                </span>
        <span class="title">{{ translate('sidebar.menu.issues.label') }}</span>
        <span class="arrow">
                    <i class="ti-angle-right fa-sm"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-issues-pending') }}">{{ translate('sidebar.menu.issues.pending') }}</a>
        </li>
    </ul>
</li>