<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-passwords') }} sidebar-menu-node-element" data-menu-node-name="{{ MENU_NODE_MODULE_NAME_MY_PASSWORDS }}">
    <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                <span class="icon-holder" style="color: gold;">
                <i class="fas fa-key fa-sm"></i>
                </span>
        <span class="title">{{ 'sidebar.menu.passwords.label' | trans }}</span>
        <span class="arrow">
                    <i class="ti-angle-right fa-sm"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('my-passwords') }}">{{ 'sidebar.menu.passwords.passwords' | trans }}</a>
        </li>
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('my-passwords-settings') }}">{{ 'sidebar.menu.passwords.settings' | trans }}</a>
        </li>
    </ul>
</li>