<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-passwords') }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color: gold;">
                <i class="far fa-key"></i>
                </span>
        <span class="title">{{ translate('sidebar.menu.passwords.label') }}</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-passwords') }}">{{ translate('sidebar.menu.passwords.passwords') }}</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my-passwords-settings') }}">{{ translate('sidebar.menu.passwords.settings') }}</a>
        </li>
    </ul>
</li>