{% extends 'page-elements/components/sidebar/menu-nodes/base-menu-node.twig' %}
{% set menu_node_module_name = constant("App\\Action\\System\\AppAction::MENU_NODE_MODULE_NAME_REPORTS") %}

{% block nodeContent %}

    <li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'reports') }} sidebar-menu-node-element {{ isVisible ? "" : "d-none" }}" data-menu-node-name="{{ menu_node_module_name }}"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.reports.description' | trans
    }%}
    >
        <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                    <span class="icon-holder menu-node-my-reports-icon">
                        <i class="far fa-list-alt fa-sm"></i>
                    </span>
                    <span class="title">{{  'sidebar.menu.reports.label' | trans }}</span>
                    <span class="arrow">
                        <i class="ti-angle-right fa-sm"></i>
                    </span>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('reports-monthly-payments-summaries') }}">
                    {{  'sidebar.menu.reports.monthlyPaymentsSummaries' | trans }}
                </a>
            </li>
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('reports-historical-money-owed') }}">
                    {{  'sidebar.menu.reports.historicalMoneyOwed' | trans }}
                </a>
            </li>
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('reports-payments-charts') }}">
                    {{  'sidebar.menu.reports.paymentsCharts' | trans }}
                </a>
            </li>
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('reports-savings-charts') }}">
                    {{  'sidebar.menu.reports.savingsCharts' | trans }}
                </a>
            </li>
        </ul>
    </li>

{% endblock nodeContent %}