<li class="nav-item dropdown {{ keepMenuOpen(currUrl, path('my-shopping-plans')) }} sidebar-menu-node-element" data-menu-node-name="{{ MENU_NODE_MODULE_NAME_MY_SHOPPING }}">
    <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                <span class="icon-holder">
                        <i class="fas fa-shopping-cart fa-sm"></i>
                </span>
        <span class="title">{{ 'sidebar.menu.shopping.label' | trans }}</span>
        <span class="arrow">
                    <i class="ti-angle-right fa-sm"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('my-shopping-plans') }}">{{ 'sidebar.menu.shopping.plans' | trans }}</a>
        </li>
    </ul>
</li>
