{% extends 'page-elements/components/sidebar/menu-nodes/base-menu-node.twig' %}
{% set menu_node_module_name = constant("App\\Action\\System\\AppAction::MENU_NODE_MODULE_NAME_MY_TRAVELS") %}

{% block nodeContent %}

    <li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-travels') }} sidebar-menu-node-element {{ isVisible ? "" : "d-none" }} {{ isVisible ? "" : "d-none" }}" data-menu-node-name="{{ menu_node_module_name }}"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.travels.description' | trans
    }%}
    >
        <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                    <span class="icon-holder menu-node-my-travels-icon">
                    <i class="fas fa-plane fa-sm"></i>
                    </span>
            <span class="title">{{  'sidebar.menu.travels.label' | trans }}</span>
            <span class="arrow">
                        <i class="ti-angle-right fa-sm"></i>
                      </span>
        </a>

        <ul class="dropdown-menu ">
            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('my-travels-ideas') }}">{{ 'sidebar.menu.travels.ideas' | trans }}</a>
            </li>
        </ul>
    </li>

{% endblock nodeContent %}
