{% if elements is not empty %}
    {% set moduleToCheckActiveCategory = 'MyNotes' %}

    <li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes/category') }}">
        <a class="sidebar-link left-nav-link" href="javascript:void(0);">
            <span class="title">{{  'sidebar.menu.notes.categories' | trans }}</span>
            <span class="arrow"><i class="ti-angle-right fa-sm"></i></span>
        </a>
        <ul class="dropdown-menu">

            {% for category in elements %}

                {% set lock_record = category.category_id %}
                {% set lock_type   = constant('App\\Entity\\System\\LockedResource::TYPE_ENTITY') %}
                {% set lock_target = constant('App\\Controller\\Modules\\ModulesController::MODULE_ENTITY_NOTES_CATEGORY') %}

                {% if isAllowedToSeeResource(lock_record, lock_type, lock_target) %}
                    {% if category in elements and category.parent_id is null %} {# recheck must be here as twig caches original array #}

                        {% if isNotesCategoryActive(category.category_id, moduleToCheckActiveCategory ) == false %}
                            {% set disabled = ' disabled' %}
                        {% else %}
                            {% set disabled = '' %}
                        {% endif %}

                    <li class="dropdown{{ keepMenuOpen(currUrl, '', '', category.childrens_id) }}" style="margin-top: 5px;">
                        {# Link #}
                        <a class="sidebar-link left-nav-link {{ disabled }}"
                           href="{{ path(path_name,{'category':category.category, 'category_id':category.category_id}) }}"
                           style="display: inline;">
                            {# Icon #}
                            <span class="icon-holder" style="color:#{{ category.color }};">
                                            <i class="fas {{ category.icon }} fa-sm"></i>
                                        </span>
                            <span class="title">{{ category.category | capitalize }}</span>
                        </a>
                        {% if category.childrens_id is null %}
                            </li>
                        {% endif %}
                        {# Subcategory #}
                        {% if
                                category.childrens_id is not null
                            and category.childrens_id is not empty
                        %}
                            <a class="sidebar-link left-nav-link" href="javascript:void(0);" style="display:inline;">
                                <span class="arrow"><i class="ti-angle-right fa-sm"></i></span>
                            </a>

                            <ul class="dropdown-menu">
                                {% include 'page-elements/components/sidebar/components/recursive-nested-menu-element.twig' with {
                                    'childrens_id':category.childrens_id,
                                    'path_name': path_name,
                                    'type': moduleToCheckActiveCategory
                                } %}
                            </ul>
                            </li>

                            {% set elements = unsetKeys(elements, category.childrens_id) %}

                        {% endif %}

                    {% endif %} {# recheck ends here #}

                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endif %}