<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes') }} sidebar-menu-node-element" data-menu-node-name="{{ MENU_NODE_MODULE_NAME_NOTES }}">
    <a class="sidebar-link left-nav-link" href="javascript:void(0);">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-book fa-sm"></i>
                </span>
        <span class="title">{{  'sidebar.menu.notes.label' | trans }}</span>
        <span class="arrow">
                    <i class="ti-angle-right fa-sm"></i>
                  </span>
    </a>

    {# Notes - 1st level #}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('my-notes-create') }}">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-plus-circle fa-sm"></i>
                </span>
                {{  'sidebar.menu.notes.new' | trans }}
            </a>
        </li>
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('my-notes-settings') }}">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-cog fa-sm"></i>
                </span>
                {{  'sidebar.menu.notes.settings' | trans }}
            </a>
        </li>

        {% set categories = getAccessibleNotesCategories() %}
        {% include 'page-elements/components/sidebar/menu-nodes/notes-categories.twig' with {
            'elements': categories,
            'path_name': 'my-notes-category'
        } %}

    </ul>
</li>
