{# Files #}
{% set imagesUploadFolderSubdirectories = getUploadFolderSubdirectories('image') %}
{% set filesUploadFolderSubdirectories  = getUploadFolderSubdirectories('file') %}

<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes') }}">

    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color:rgb(255,215,0);">
                    <i class="fas fa-folder-open"></i>
                </span>
        <span class="title">My Files</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">

        {% for subdirectory in filesUploadFolderSubdirectories %}
            <li>
                <a class="sidebar-link" href="#">
                    {{ subdirectory }}
                </a>
            </li>
        {% endfor %}

        <li>
            <a class="sidebar-link" href="{{ path('upload', {'uploadType': 'file'} ) }}">
                Upload
            </a>
        </li>
    </ul>
</li>

{# Images #}
<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes') }}">

    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color: rgb(133,187,101);">
                    <i class="fas fa-image"></i>
                </span>
        <span class="title">My Images</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">

        {% for subdirectory in imagesUploadFolderSubdirectories %}
            <li>
                <a class="sidebar-link" href="{{ path('modules_my_images', {'subdirectory': subdirectory}) }}">
                    {{ subdirectory }}
                </a>
            </li>
        {% endfor %}

        <li>
            <a class="sidebar-link" href="{{ path('upload', {'uploadType': 'image'} ) }}">
                Upload
            </a>
        </li>

        <li>
            <a class="sidebar-link" href="{{ path('modules_my_images') }}">
                Images - test
            </a>
        </li>

    </ul>
</li>






