{% extends 'page-elements/components/sidebar/menu-nodes/base-menu-node.twig' %}
{% set menu_node_module_name = "" %}
{% set menu_node_related_modules = constant("App\\Controller\\Modules\\ModulesController::UPLOAD_MENU_RELATED_MODULES") %}

{% block nodeContent %}

    <li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'upload') }} {{ isVisible ? "" : "d-none" }}" data-menu-node-name="{{ menu_node_module_name }}"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.upload.description' | trans
    }%}
    >

        <a class="sidebar-link left-nav-link" href="javascript:void(0);">
            <span class="icon-holder menu-node-upload-icon">
                <i class="fas fa-upload fa-sm"></i>
            </span>

            <span class="title">{{ 'sidebar.menu.upload.label' | trans }}</span>
            <span class="arrow">
                  <i class="ti-angle-right fa-sm"></i>
            </span>
        </a>

        <ul class="dropdown-menu">

            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('upload_fine_upload') }}">
                    {{ 'sidebar.menu.upload.add' | trans }}
                </a>
            </li>

            <li>
                <a class="sidebar-link left-nav-link" href="{{ path('upload_settings') }}">
                    {{ 'sidebar.menu.upload.manage' | trans }}
                </a>
            </li>

        </ul>

    </li>

{% endblock nodeContent %}