<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'upload') }}">

    <a class="sidebar-link left-nav-link" href="javascript:void(0);">
        <span class="icon-holder" style="color:orange;">
            <i class="fas fa-upload fa-sm"></i>
        </span>

        <span class="title">{{ 'sidebar.menu.upload.label' | trans }}</span>
        <span class="arrow">
              <i class="ti-angle-right fa-sm"></i>
        </span>
    </a>

    <ul class="dropdown-menu">

        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('upload') }}">
                {{ 'sidebar.menu.upload.add' | trans }}
            </a>
        </li>
        <li>
            <a class="sidebar-link left-nav-link" href="{{ path('upload_settings') }}">
                {{ 'sidebar.menu.upload.manage' | trans }}
            </a>
        </li>

    </ul>

</li>
