{% set currUrl = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% set getAttrs = app.request.attributes.get('_route_params') %}
{% set avatar_placeholder_image_pat = asset('assets/images/avatar_placeholder.jpg') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>
        {% block title %}{{ 'page.titleShort' | trans }}
            {% if
                    page_title is defined
                and page_title is not empty
            %}
               - {{ page_title }}
            {% endif %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}"/>
    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/base-template.css') }}" />
    {% endblock %}

    {% block twigToJavascript %}
        <script>
            window["TWIG_GET_ATTRS"]   = '{{ getAttrs | json_encode | raw }}';
            window["TWIG_ROUTE"]       = '{{ app.request.attributes.get('_route') }}';
            window["TWIG_REQUEST_URI"] = '{{ app.request.requestUri }}';
        </script>
    {% endblock %}

</head>
<body class="app" {% if isGuide() %} data-guide-mode {% endif %} data-theme="dark">

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<!-- @App Content -->
<!-- =================================================== -->
<div>
    <!-- #Left Sidebar ==================== -->
    {% include 'page-elements/components/sidebar.twig' %}
    <!-- #Main ============================ -->
    <div class="page-container">
        <div id='subloader' class="fadeOut">
            <div class="spinner"></div>
        </div>
        {# This must be done this way for controllers/etc - for unknown reason yaml defined globals are not working when trying to call constant() with them #}
        {% set modules_controller = 'App\\Controller\\Modules\\ModulesController::' %}
        {% set dialogs_controller = 'App\\Action\\Core\\DialogsAction::' %}
        {% set user_entity        = 'App\\Entity\\User::' %}

        <!-- ### $Topbar ### -->
        <div class="header navbar">
            <div class="header-container">
                {% include 'page-elements/components/topbar.twig' %}
            </div>
            <div>
                {% if isMaintenance() %}
                    {% include 'page-elements/components/maintenance-mode.twig' %}
                {% endif %}
            </div>
        </div>

        <section class="twig-body-section">
            {% block body %}{% endblock %}
        </section>
        <!-- ### $App Screen Footer ### -->
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>
                {{ 'page.footerCopyright' | trans }}
                <a href="https://github.com/Volmarg" target='_blank' title="Volmarg Reiso">Volmarg Reiso</a>.
            </span>
        </footer>
    </div>

</div>

{% include 'page-elements/components/right-tooltip.twig' %}

<script>
    (function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/assets/service-worker.js');
        }
    })();

    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

{% block javascripts %}
    <script src="{{ asset('assets/app.js') }}"></script>
{% endblock %}

{% include 'page-elements/components/messages/messages.twig' %}
{% include 'page-elements/components/system-information.twig' %}

</body>
</html>
