<div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
    <h5 class="c-grey-900 mB-20 align-self-center">{{ 'settings.finances.type.currencies.label' | trans }} </h5>

    <table id="settingsFinancesCurrencyTable" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">
        <thead>
        <tr>
            <td>    {{ 'settings.finances.type.currencies.table.name' | trans }}         </td>
            <td>    {{ 'settings.finances.type.currencies.table.symbol' | trans }}       </td>
            <td>    {{ 'settings.finances.type.currencies.table.multiplier' | trans }}   </td>
            <td>    {{ 'settings.finances.type.currencies.table.isDefault' | trans }}    </td>
            <td>    {{ 'datatables.table.actions' | trans }}                             </td>
        </tr>
        </thead>
        <tbody>

        {% for currency_setting in currencies_settings %}
            <tr class="editable-parent save-parent trash-parent" data-type="settingsFinancesCurrencyTable">
                <input type="hidden"
                       name="before-update-state"
                       class="before-update-state"
                       value="{{ currency_setting.toJson() }}"
                />
                <td class="name">
                    {{ currency_setting.getName() }}
                </td>
                <td class="symbol">
                    {{ currency_setting.getSymbol() }}
                </td>
                <td>
                    {% include 'page-elements/components/forms/input-standard-value.twig' with {
                        type     : "number",
                        value    : currency_setting.getMultiplier(),
                        disabled : true,
                        min      : 0.1,
                        step     : 0.1,
                        class    : "multiplier"
                    }%}
                </td>
                <td class="is-default">
                    {% include 'page-elements/components/forms/toggle-button.twig' with {
                        "value"     : currency_setting.isDefault(),
                        "yes_no"    : true,
                        "classes"   : "disabled toggle-button"
                    }%}
                </td>

                {% include 'modules/common/components/table-cells/actions.html.twig' with {
                    "trash": true,
                    "edit": true,
                    "save": true
                } %}

            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{# Form #}
<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="bgc-white bdrs-3 p-20 mB-20 d-flex flex-column">
            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'settings.finances.type.currencies.addCurrency' | trans }}</h4>
            <div class="col-md-6 align-self-center add-record-form">
                {{ form(currency_form, {'attr':{'data-form-target':"settingsFinancesCurrencyForm"}})}}
            </div>
        </div>
    </div>
</div>