{% extends 'base.html.twig' %}

{% block title %}{{ 'page.login.home.title' | trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'page.login.home.loggedIn.youAreLoggedInAs' | trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'page.login.home.loggedIn.logout' | trans }}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'page.login.home.form.header' | trans }}</h1>
    <label for="inputUsername">{{ "page.login.home.form.username" | trans }}</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">{{ 'page.login.home.form.password' | trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'page.login.home.form.signIn' | trans }}
    </button>
</form>
{% endblock %}
