{% extends 'security/layout.html.twig' %}

{% block content %}

    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
             style='background-image:  url("{{ asset('assets/images/bcgk.jpg') }}")'>

            <div class="col-12 col-md-6 col-lg-6 col-xl-3 pos-a centerXY peer pX-40 pY-60 h-70 bgc-white scrollable" style='min-width: 320px; opacity:0.9;'>

                <h3 class="text-center" style="color: #5DACBD;font-weight: 300;">{{ 'login.header.pageName' | trans }}</h3>
                <div class="d-flex" style="justify-content: space-around;">
                    <img src="assets/images/logo/smaller.png" style="height: 65px;">
                </div>
                <h4 class="fw-300 c-grey-900 mB-20 text">{{ 'login.header.login' | trans }}</h4>
                {% if error_message is defined and error_message is not empty %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}
                <form method="post">
                    <div class="form-group">
                        <label class="text-normal text-dark">{{ 'login.labels.username' | trans }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'login.placeholders.username'|trans }}"
                               id="inputUsername" name="username" value="" required="required">
                    </div>
                    <div class="form-group">
                        <label class="text-normal text-dark">{{ 'login.labels.password' | trans }}</label>
                        <input type="password" class="form-control" placeholder="{{ 'login.placeholders.password'|trans }}"
                               id="inputPassword" name="password" required="required">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                    <div class="form-group">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" name="_remember_me" class="peer" id="inputCall1">
                                    <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                                        <span class="peer peer-greed">{{ 'login.labels.remember' | trans }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="peer">
                                <button class="btn btn-primary" id="_submit" type="submit" >{{ 'login.submit'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content%}

