{% if trash is defined and trash %}
    <span
            class="{% if remove_without_entity_handler is not defined %} remove-record {% endif %}"
            aria-hidden="true"
            data-content-editable="false"
            data-toggle-popover="true"                                {# popover attr #}
            data-html="true"                                          {# popover attr #}
            data-content="{{ 'actions.popover.remove' | trans }}"     {# popover attr #}
            data-placement="top"                                      {# popover attr #}

    {% if trash_attr is defined and trash_attr is not empty %}
        {{ trash_attr | raw}}
    {% endif %}

    {% if trash_icon is not defined or trash_icon is empty %}
        {% set trash_icon =  'fa fa-trash' %}
    {% endif %}

    >
        <i class="{{ trash_icon }}"></i>
    </span>

{% endif %}

{% if edit is defined and edit %}
    <span
            class="edit-record"
            data-content-editable="false"
            data-toggle-popover="true"                                {# popover attr #}
            data-content="{{ 'actions.popover.edit' | trans }}"       {# popover attr #}
            data-placement="top"                                      {# popover attr #}
        {% if edit_attr is defined and edit_attr is not empty %}
            {{ edit_attr }}
        {% endif %}

        {% if edit_icon is not defined or edit_icon is empty %}
            {% set edit_icon =  'far fa-edit' %}
        {% endif %}
    >
        <i class="{{ edit_icon }}"></i>
    </span>
{% endif %}

{% if editWithTinyMce is defined and editWithTinyMce %}
    <span
            class="edit-record-with-tiny-mce transform-to-tiny-mce pointer"
            data-tiny-mce-selector="{{ tinyMceSelector }}"
            data-tiny-mce-instance-selector="{% if tinyMceInstanceSelector is defined  %}{{ tinyMceInstanceSelector }}{% endif %}"
            data-tiny-mce-wrapper-classes="{% if tinyMceWrapperClasses is defined  %}{{ tinyMceWrapperClasses }}{% endif %}"
            data-content-editable="false"
            data-toggle-popover="true"                                          {# popover attr #}
            data-content="{{ 'actions.popover.editWithTinyMce' | trans }}"      {# popover attr #}
            data-placement="top"                                                {# popover attr #}
            style="{{ editWithTinyMce_style is defined ? editWithTinyMce_style : '' }}"
            {% if editWithTinyMce_attr is defined and editWithTinyMce_attr is not empty %}
                {{ editWithTinyMce_attr }}
            {% endif %}
    >
        <i class="fab fa-monero"></i>
    </span>
{% endif %}

 {% if copy is defined and copy %}
     <span
         class="copy-record"
         data-toggle-popover="true"                                {# popover attr #}
         data-content="{{ 'actions.popover.copy' | trans }}"       {# popover attr #}
         data-placement="top"                                      {# popover attr #}
         {% if copy_attr is defined and copy_attr is not empty %}
            {{ copy_attr }}
        {% endif %}
 >
    <i class="far far fa-copy"></i>
 </span>
 {% endif %}

{% if download is defined and download %}

    {% if download_file_subdirectory is not defined %}
        {% set download_file_subdirectory = "" %}
    {% endif %}

    <a href="/{{ download_file_path }}" download class="file-download-link grey-700" data-subdirectory="{{ download_file_subdirectory }}">
        <button class="file-download">
            <span aria-hidden="true"
                  data-toggle-popover="true"                                    {# popover attr #}
                  data-content="{{ 'actions.popover.download' | trans }}"       {# popover attr #}
                  data-placement="top"                                          {# popover attr #}
            >
                <i class="fa fa-download"></i>
            </span>
        </button>
    </a>
{% endif %}

{% if save is defined and save %}
    <span
        class="save-record d-none"
        data-content-editable="false"
        data-toggle-popover="true"                                {# popover attr #}
        data-content="{{ 'actions.popover.save' | trans }}"       {# popover attr #}
        data-placement="top"                                      {# popover attr #}
        style="{{ saveStyle is defined ? saveStyle : '' }}"
        {% if save_attr is defined and save_attr is not empty %}
            {{ save_attr }}
        {% endif %}
    >
    {% if save_icon is not defined or save_icon is empty %}
        {% set save_icon =  'far fa-save' %}
    {% endif %}

    <i class="{{ save_icon }}"></i>
    </span>
{% endif %}

{% if fontawesome is defined and fontawesome %}
    <span
        class="action-fontawesome d-none"
        data-content-editable="false"
        data-toggle-popover="true"                                      {# popover attr #}
        data-content="{{ 'actions.popover.fontawesome' | trans }}"      {# popover attr #}
        data-placement="top"                                            {# popover attr #}
        {% if fontawesome_attr is defined and fontawesome_attr is not empty %}
            {{ fontawesome_attr }}
        {% endif %}
    >
    <i class="far fa-smile"></i>
    </span>
{% endif %}

{% if lock_record is defined and lock_record %}
    <span
        class="action-lock-record {{ getClassForLockedResource(lock_record, lock_type, lock_target) }}"
        data-content-editable="false"
        data-lock-resource-record     ="{{ lock_record }}"
        data-lock-resource-type       ="{{ lock_type }}"
        data-lock-resource-target     ="{{ lock_target }}"
        data-toggle-popover="true"                                      {# popover attr #}
        data-content="{{ 'actions.popover.lockRecord' | trans }}"       {# popover attr #}
        data-placement="top"                                            {# popover attr #}
        {% if lock_record_attr is defined and lock_record_attr is not empty %}
            {{ lock_record_attr }}
        {% endif %}
    >
    <i class="fas fa-lock"></i>
    </span>
{% endif %}