{# moving files between folders form #}

    <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column col-12">
        <h4 class="c-grey-900 mB-20 align-self-center">{{ 'upload.settings.copyFolderData.label' | trans }}</h4>
        {{ form_start(copy_data_form) }}

        <section class="d-flex justify-content-around flex-row">

            {# Inputs on left #}
            <div class="copy-from col-5">
                <h5>{{ 'upload.settings.copyFolderData.from' | trans }}</h5>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(copy_data_form[KEY_CURRENT_UPLOAD_MODULE_DIR],
                            null,
                            {
                                'label_attr':
                                {
                                    'class': 'col-form-label col-sm-12 required'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(copy_data_form[KEY_CURRENT_UPLOAD_MODULE_DIR]) }}
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(copy_data_form[KEY_SUBDIRECTORY_CURRENT_PATH_IN_MODULE_UPLOAD_DIR],
                            null,
                            {
                                'label_attr':
                                {
                                    'class': 'col-form-label col-sm-12 required'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(copy_data_form[KEY_SUBDIRECTORY_CURRENT_PATH_IN_MODULE_UPLOAD_DIR]) }}
                    </div>
                </div>

            </div>

            {# Inputs on right #}
            <div class="copy-to col-5">
                <h5>{{ 'upload.settings.copyFolderData.to' | trans }}</h5>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(copy_data_form[KEY_TARGET_MODULE_UPLOAD_DIR],
                            null,
                            {
                                'label_attr':
                                {
                                    'class': 'col-form-label col-sm-12 required'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(copy_data_form[KEY_TARGET_MODULE_UPLOAD_DIR]) }}
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_label(copy_data_form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR],
                            null,
                            {
                                'label_attr':
                                {
                                    'class': 'col-form-label col-sm-12 required'
                                }
                            }
                        ) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(copy_data_form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR]) }}
                    </div>
                </div>
            </div>

        </section>

        <br/>

        <section class="d-flex justify-content-center flex-column align-items-center">
            {{ form_widget(copy_data_form[KEY_MOVE_FOLDER]) }}

            {{ form_widget(copy_data_form['submit']) }}
        </section>

        {{ form_end(copy_data_form) }}
    </div>
