    {# creating subdirectory form #}
    <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column col-6 handle-single-form-via-ajax add-record-form">
        <h4 class="c-grey-900 mB-20 align-self-center">{{ 'upload.settings.createFolder.label' | trans }}</h4>

        {{ form_start(create_subdir_form, {'attr':{'data-form-target': "CreateFolder"}}) }}

        {# upload module dir #}
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(create_subdir_form[KEY_UPLOAD_MODULE_DIR],
                    null,
                    {
                        'label_attr':
                        {
                            'class': 'col-form-label col-sm-12 required'
                        }
                    }
                ) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(create_subdir_form[KEY_UPLOAD_MODULE_DIR]) }}
            </div>
        </div>

        <br/>

        {# folder new name #}
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(create_subdir_form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR],
                    null,
                    {
                        'label_attr':
                        {
                            'class': 'col-form-label col-sm-12 required'
                        }
                    }
                ) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(create_subdir_form[KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR]) }}
            </div>
        </div>

        <br/>

        {# subdirectory current path in module upload dir #}
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(create_subdir_form[KEY_SUBDIRECTORY_NAME],
                    null,
                    {
                        'label_attr':
                        {
                            'class': 'col-form-label col-sm-12 required'
                        }
                    }
                ) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(create_subdir_form[KEY_SUBDIRECTORY_NAME]) }}
            </div>
        </div>

        <br/>

        <section class="d-flex justify-content-center flex-column align-items-center">
            {{ form_widget(create_subdir_form['submit'], {
                "attr": {
                    'data-params'  : '{ "menuNodeModulesNamesToReload" : "'~menu_node_modules_names_to_reload~'" }'
                }
            }) }}
        </section>

        {{ form_end(create_subdir_form) }}
    </div>

