<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{{ status_code }} - {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
  </head>
  <body class="app">
    <div class='pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30'>
      <div class='mR-60'>
        <img alt='#' src="{{ asset('assets/images/404.png') }}" />
      </div>

      <div class='d-f jc-c fxd-c'>
        <h1 class='mB-30 fw-900 lh-1 c-red-500 error-page-header'>{{ 'codePages.error.h1' | trans }}</h1>
        <h3 class='mB-10 fsz-lg c-grey-900 tt-c'>{{ 'codePages.error.h3' | trans }}</h3>
        <p class='mB-30 fsz-def c-grey-700'>{{ 'codePages.error.text' | trans }}</p>
        <div>
          <a href="{{  app.request.headers.get('referer') }}" type='primary' class='btn btn-primary'>{{ 'codePages.error.button' | trans }}</a>
        </div>
      </div>
    </div>
  </body>
</html>
