{% block fontawesomepicker_widget %}
    <section class="row fontawesome-picker-form-type-block form-type-fontawesome-picker">
        <input type="button" id="{{ id }}Button" autocomplete="off"
               class="form-control btn-primary btn col-sm-4"
               data-iconpicker="true"
               data-iconpicker-input="input#{{ id }}Input"
               data-iconpicker-preview="#{{ id }}Preview"
               value=" Pick icon"/>

        <input id="{{ id }}Input" {{ block('widget_attributes') }} autocomplete="off" class="form-control col-sm-6 form-type-fontawesome-picker-input-field">
        <input id="{{ id }}Preview" autocomplete="off" class="form-control" type="hidden">
    </section>
{% endblock %}