{% block fontawesomepicker_widget %}
    {# Fix bug where fontawesome has small icon near the input after selecting some from list #}
    <style>
        .fontawesome-picker-form-type-block i, .fontawesome-picker-form-type-block svg {
            display:none;
        }
    </style>
    <section class="row fontawesome-picker-form-type-block" style="margin-left: -4px;">
        <input type="button" id="{{ id }}Button" autocomplete="off"
               class="form-control btn-primary btn col-sm-4"
               data-iconpicker="true"
               data-iconpicker-input="input#{{ id }}Input"
               data-iconpicker-preview="#{{ id }}Preview"
               value=" Pick icon"/>

        <input id="{{ id }}Input" {{ block('widget_attributes') }} autocomplete="off" class="form-control col-sm-6"
               style="margin-top: 6px; margin-bottom: 6px; padding-top: 0px; padding-bottom: 0px;">
        <input id="{{ id }}Preview" autocomplete="off" class="form-control"
               type="hidden">
    </section>
{% endblock %}