{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100 my-schedules scroll-y'>

        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'schedules.calendar.infoBlock.text.mainDescription',
                    header_translation_string : 'schedules.calendar.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">

                            {# Main wrapper #}
                            <section class="tui-calendar-wrapper d-flex flex-row flex-wrap">

                                <section class="left-side col-2 p-0 navbar-tui-calendar">
                                    <div id="lnb">
                                        <div class="lnb-new-schedule">
                                            <span class="calendar-menu">

                                                {# left side#}
                                                <span>
                                                    {# add schedule#}
                                                    <button id="btn-new-schedule" type="button" class="clear-button-styles" data-toggle="modal"
                                                            {# Tippy attributes #}
                                                            data-toggle-popover="true"
                                                            data-html="true"
                                                            data-trigger="hover"
                                                            data-content="{{ 'schedules.calendar.actions.addSchedule' | trans }}"
                                                            data-placement="top"
                                                    >
                                                        <i class="fas fa-plus-circle tui-navbar-icon"></i>
                                                    </button>

                                                    {# settings #}
                                                    <button id="btn-settings" type="button" class="clear-button-styles" data-toggle="modal" data-target="#calendar-settings-modal"
                                                            {# Tippy attributes #}
                                                            data-toggle-popover="true"
                                                            data-html="true"
                                                            data-trigger="hover"
                                                            data-content="{{ 'schedules.calendar.actions.settings' | trans }}"
                                                            data-placement="top"
                                                    >
                                                        <i class="fas fa-cog tui-navbar-icon"></i>
                                                    </button>

                                                    {# view #}
                                                    <span class="dropdown">
                                                        <button id="btn-calendar-view-list" class="clear-button-styles" type="button" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="true"
                                                                {# Tippy attributes #}
                                                                data-toggle-popover="true"
                                                                data-html="true"
                                                                data-trigger="hover"
                                                                data-content="{{ 'schedules.calendar.actions.view' | trans }}"
                                                                data-placement="top"
                                                        >
                                                            <i id="calendarTypeIcon" class="calendar-icon ic_view_month"></i>
                                                            <span>
                                                                <i class="fas fa-eye tui-navbar-icon"></i>
                                                            </span>&nbsp;
                                                            <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                                                            <li role="presentation" class="mb-1">
                                                                <a class="dropdown-menu-title calendar-view-change" role="menuitem" data-action="toggle-view-daily">
                                                                    <i class="fas fa-list"></i>
                                                                    <span class="ml-1">{{ 'schedules.calendar.views.daily' | trans }}</span>
                                                                </a>
                                                            </li>
                                                            <li role="presentation" class="mb-1">
                                                                <a class="dropdown-menu-title calendar-view-change" role="menuitem" data-action="toggle-view-weekly">
                                                                    <i class="fas fa-th-large"></i>
                                                                    <span class="ml-1">{{ 'schedules.calendar.views.weekly' | trans }}</span>
                                                                </a>
                                                            </li>
                                                            <li role="presentation" class="mb-1">
                                                                <a class="dropdown-menu-title calendar-view-change" role="menuitem" data-action="toggle-view-monthly">
                                                                    <i class="fas fa-th"></i>
                                                                    <span class="ml-1">{{ 'schedules.calendar.views.monthly' | trans }}</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </span>

                                                {# Right side #}
                                                <span>
                                                    {# previous #}
                                                    <button id="btn-move-previous" type="button" class="clear-button-styles" data-action="move-previous"
                                                            {# Tippy attributes #}
                                                            data-toggle-popover="true"
                                                            data-html="true"
                                                            data-trigger="hover"
                                                            data-content="{{ 'schedules.calendar.actions.back' | trans }}"
                                                            data-placement="top"
                                                    >
                                                        <i class="fas fa-arrow-circle-left tui-navbar-icon"></i>
                                                    </button>

                                                    {# today #}
                                                    <button id="btn-move-today" type="button" class="clear-button-styles" data-action="move-today"
                                                            {# Tippy attributes #}
                                                            data-toggle-popover="true"
                                                            data-html="true"
                                                            data-trigger="hover"
                                                            data-content="{{ 'schedules.calendar.actions.today' | trans }}"
                                                            data-placement="top"
                                                    >
                                                        <i class="fas fa-arrow-circle-down tui-navbar-icon"></i>
                                                    </button>

                                                    {# next #}
                                                    <button id="btn-move-next" type="button" class="clear-button-styles" data-action="move-next"
                                                            {# Tippy attributes #}
                                                            data-toggle-popover="true"
                                                            data-html="true"
                                                            data-trigger="hover"
                                                            data-content="{{ 'schedules.calendar.actions.forward' | trans }}"
                                                            data-placement="top"
                                                    >
                                                        <i class="fas fa-arrow-circle-right tui-navbar-icon"></i>
                                                    </button>
                                                </span>

                                            </span>

                                        </div>
                                        <div id="lnb-calendars" class="lnb-calendars">
                                            <div id="calendarList" class="lnb-calendars-d1">
                                                <label class="mb-2">
                                                    <input class="tui-full-calendar-checkbox-square view-all-calendars" type="checkbox" value="all" checked>
                                                    <span></span>
                                                    <strong>{{ 'schedules.calendar.calendarsList.viewAll' | trans }}</strong>
                                                </label>
                                                {% for calendar_data_dto in calendars_data_dto_array %}
                                                    <div class="lnb-calendars-item"
                                                         data-calendar-id="{{ calendar_data_dto.id }}"
                                                         data-calendar-name="{{ calendar_data_dto.name }}"
                                                         data-calendar-color="{{ calendar_data_dto.color }}"
                                                         data-calendar-background-color="{{ calendar_data_dto.backgroundColor }}"
                                                         data-calendar-drag-color="{{ calendar_data_dto.dragBackgroundColor }}"
                                                         data-calendar-border-color="{{ calendar_data_dto.borderColor }}"
                                                    >
                                                        <label>
                                                            <input type="checkbox" checked="checked" class="tui-full-calendar-checkbox-round" value="1">
                                                            <span class="color-wrapper" style="border-color: #{{ calendar_data_dto.borderColor }}; background-color: #{{ calendar_data_dto.backgroundColor }};"></span>
                                                            <i class="{{ calendar_data_dto.icon }}"></i>
                                                            <span>{{ calendar_data_dto.name }}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="right-side col-10 p-0">
                                    {# Current date range #}
                                    <h4 class="text-center m-0">
                                        <span id="dateRange"></span>
                                    </h4>

                                    <section class="calendar-search-bar justify-content-end d-flex">
                                        {# Search #}
                                        <span>
                                            <input id="autoComplete" type="text" class="form-control calendar-search-input" autocomplete="off"/>
                                            <div id="autoCompleteResult"></div>
                                        </span>
                                    </section>

                                    <div id="right">
                                        {# This is the calendar wrapper holding the real tui-callendar, rendered by js #}
                                        <section data-is-tui-calendar id="calendar" class="p-20 pL-40"></section>
                                    </div>
                                </section>

                            </section>
                        </div>
                    </div>
                </div>

                {# Modal #}
                {% include 'modules/my-schedules/components/calendar-settings-modal.html.twig' %}

            </div>
        </div>
    </main>

{% endblock body %}
