{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100 my-schedules'>

        {# todo: add block above with description like in other modules#}

        <div id='mainContent'>
            <div class="container-fluid">
                {# DataTable#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20 text-center">{{ 'schedules.headers.schedules' | trans }}</h4>
{#                            {% include 'modules/my-schedules/components/schedules-table.html.twig' %}#}


                            {# start test#}
                            {# Main wrapper #}
                            <section class="tui-calendar-wrapper d-flex flex-row flex-wrap">

                                <section class="left-side col-2 p-0 navbar-tui-calendar">
                                    <div id="lnb">
                                        <div class="lnb-new-schedule">
                                            {# todo: add hover tippy #}
                                            {# add schedule#}
                                            <button id="btn-new-schedule" type="button" class="clear-button-styles" data-toggle="modal">
                                                <i class="fas fa-plus-circle tui-navbar-icon"></i>
                                            </button>

                                            {# todo: add hover tippy #}
                                            {# settings #}
                                            <button id="btn-settings" type="button" class="clear-button-styles" data-toggle="modal" data-target="#calendar-settings-modal">
                                                <i class="fas fa-cog tui-navbar-icon"></i>
                                            </button>

                                            |

                                            {# view #}
                                            <span class="dropdown">
                                                <button id="btn-calendar-view-list" class="clear-button-styles" type="button" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                    <i id="calendarTypeIcon" class="calendar-icon ic_view_month"></i>
                                                    <span>
                                                        <i class="fas fa-eye tui-navbar-icon"></i>
                                                    </span>&nbsp;
                                                    <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                                                    <li role="presentation">
                                                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-view-daily">
                                                            <i class="calendar-icon ic_view_day"></i>Daily
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-view-weekly">
                                                            <i class="calendar-icon ic_view_week"></i>Weekly
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-view-monthly">
                                                            <i class="calendar-icon ic_view_month"></i>Month
                                                        </a>
                                                    </li>
                                                </ul>
                                            </span>


                                            {# todo: add hover tippy #}
                                            {# previous #}
                                            <button id="btn-move-previous" type="button" class="clear-button-styles" data-action="move-previous">
                                                <i class="fas fa-arrow-circle-left tui-navbar-icon"></i>
                                            </button>

                                            {# todo: add hover tippy #}
                                            {# today #}
                                            <button id="btn-move-today" type="button" class="clear-button-styles" data-action="move-today">
                                                <i class="fas fa-arrow-circle-down tui-navbar-icon"></i>
                                            </button>

                                            {# todo: add hover tippy #}
                                            {# next #}
                                            <button id="btn-move-next" type="button" class="clear-button-styles" data-action="move-next">
                                                <i class="fas fa-arrow-circle-right tui-navbar-icon"></i>
                                            </button>

                                        </div>
                                        <div id="lnb-calendars" class="lnb-calendars">
                                            <div>
                                                <div class="lnb-calendars-item">
                                                    <label>
                                                        <input class="tui-full-calendar-checkbox-square view-all-calendars" type="checkbox" value="all" checked>
                                                        <span></span>
                                                        <strong>View all</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="calendarList" class="lnb-calendars-d1">

                                                {% for calendar_data_dto in calendars_data_dto_array %}
                                                    <div class="lnb-calendars-item"
                                                         data-calendar-id="{{ calendar_data_dto.id }}"
                                                         data-calendar-name="{{ calendar_data_dto.name }}"
                                                         data-calendar-color="{{ calendar_data_dto.color }}"
                                                         data-calendar-background-color="{{ calendar_data_dto.backgroundColor }}"
                                                         data-calendar-drag-color="{{ calendar_data_dto.dragBackgroundColor }}"
                                                         data-calendar-border-color="{{ calendar_data_dto.borderColor }}"
                                                    >
                                                        <label>
                                                            <input type="checkbox" checked="checked" class="tui-full-calendar-checkbox-round" value="1">
                                                            <span class="color-wrapper" style="border-color: #{{ calendar_data_dto.borderColor }}; background-color: #{{ calendar_data_dto.backgroundColor }};"></span>
                                                            <i class="{{ calendar_data_dto.icon }}"></i>
                                                            <span>{{ calendar_data_dto.name }}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="right-side col-10 p-0">
                                    <div id="right">
                                        {# This is the calendar wrapper holding the real tui-callendar, rendered by js #}
                                        <section data-is-tui-calendar id="calendar" class="p-20 pL-40"></section>
                                    </div>
                                </section>

                            </section>
                            {# end test #}
                        </div>
                    </div>
                </div>

                {# Modal #}
                {% include 'modules/my-schedules/components/calendar-settings-modal.html.twig' %}

            </div>
        </div>
    </main>

{% endblock body %}
