{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyPaymentsMonthlyModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'payments.monthlyPayments.infoBlock.text.mainDescription',
                    header_translation_string : 'payments.monthlyPayments.infoBlock.header'
                } %}

                {# DataTable products prices #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">

                            <section class="mB-20">
                                {% for year in years %}
                                    <a href="{{ path("my-payments-monthly", {"year" : year}) }}" class="ajax-content-load">
                                        <button class="trigger-custom btn cur-p {{ (active_year == year ? 'btn-primary active-year' : 'btn-outline-primary') }}">
                                            {{ year }}
                                        </button>
                                    </a>
                                {% endfor %}
                            </section>

                            <div id="accordion">
                                {% for date_group in dates_groups %}
                                    <div class="accordin-section">
                                        <h3>{{ date_group.date|date("Y-m") }}<span class="payment-summary"></span></h3>
                                        {% include 'modules/my-payments/components/payments.table.html.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {# Form #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'payments.monthlyPayments.headers.addPayment' | trans }}</h4>
                            <div class="col-md-6 align-self-center add-record-form">
                                {{ form_start(form,{'attr':{' data-entity':"MyPaymentsMonthly"}}) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
