{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'payments.productsPrices.infoBlock.text.mainDescription',
                    header_translation_string : 'payments.productsPrices.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">

                            <div data-smart-tab="true">
                                <ul class="nav">
                                    <li><a class="nav-link" href="#tab-1" id="tab-nav-1">
                                            {{ 'payments.productsPrices.tabs.acceptedProducts.label' | trans }}
                                    </a></li>
                                    <li><a class="nav-link" href="#tab-2" id="tab-nav-2">
                                            {{ 'payments.productsPrices.tabs.rejectedProducts.label' | trans}}
                                    </a></li>
                                </ul>

                                {% set products_types = ['non_rejected','rejected'] %}
                                {# Datatables #}
                                {% for index, product_type in products_types %}
                                    <div class="tab-content">
                                        <div id="tab-{{ index+1 }}" class="tab-pane" role="tabpanel">
                                            {% include 'modules/my-payments/components/products.table.html.twig' with {type:product_type} %}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                {# Form #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'payments.productsPrices.headers.addProduct' | trans }}</h4>
                            <div class="col-md-6 align-self-center add-record-form">
                                {{ form_start(products_form_view,{'attr':{' data-entity':"MyPaymentsProduct"}}) }}
                                {{ form_end(products_form_view) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
